@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap');
/*home page*/
.enochweb-explore-sect {
    padding-top: 100px;
  }

  .enochweb-explore-sect h2{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 160%;
    text-align: center;
    color: #000000;
    max-width: 1174px;
    margin: auto;
}

.enoch-home-explore-item ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.enoch-home-explore-item ul li{
    width: 48.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 28px rgb(52 91 136 / 6%);
    border-radius: 52px;
    padding: 56px 32px;
    margin-bottom: 40px;
    height: 620px;
}

.enoch-home-explore-item ul li h3{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 130%;
    text-align: center;
    color: #000000;
    margin-top: 28px;
    margin-bottom: 32px;
}
.enoch-home-explore-item ul li p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 160%;
    text-align: center;
    color: #3F5159;
}
.enoch-home-explore-item {
    margin-top: 100px;
}
.enochweb-home-stuff-sect {
    padding-bottom: 100px;
}
.enochweb-do-stuff-block{
    margin-left: 16%;
}
.enochweb-do-stuff-innerblock {
    display: flex;
    margin-top: 56px;
}
.enochweb-do-stuff-block-lft {
    width: 39.5%;
}
.enochweb-do-stuff-block-right {
    margin-left: 80px;
    background: #E6EFFF;
    border-radius: 44px 0px 0px 80px;
    width: 55.5%;
    height: 855px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.do-stuff-img {
    position: absolute;
    bottom: 64px;
    left: -87px;
    width: 236px;
    height: 236px;
    background: #fff;
    border-radius: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stuff-block-img{
    margin-left:60px;
}
.enochweb-do-stuff-block-lft {
    width: 39.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.do-stuff-txt1{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 160%;
    color: #EA780F;
    margin-bottom: 12px;
}
.enochweb-do-stuff-block-lft h3{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 12px;
    max-width: 588px;
}
.do-stuff-txt2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    color: #3F5159;
    margin-bottom: 40px;
}

.enochweb-do-stuff-block-lft ul{
    display: flex;
    flex-wrap: wrap;
}
.enochweb-do-stuff-block-lft ul li{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 200%;
    color: #231F20;
    width: 50%;
    display: flex;
    align-items: center;
}
.enochweb-makemoney-sect {
    background: #410285;
    padding: 117px 0px;
}
.makemoney-hd-img{
    margin-bottom: 24px;
}
.makemoney-hd-txt{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 160%;
    color: #FFFFFF;
    margin-bottom: 83px;
}
.enoch-home-makemoney-item ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.enoch-home-makemoney-item ul li {
    width: 48.5%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(24px);
    border-radius: 18px;
    padding: 62px 48px;
    margin-bottom: 40px;
    height: 800px;
}
.makemoney-hd-icon {
    margin-bottom: 44px;
}
.enoch-home-makemoney-item ul li h3{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 130%;
    color: #FFCB00;
    margin-bottom: 24px;
}

.enoch-home-makemoney-item ul li p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 180%;
    color: #FFFFFF;
}
.enochweb-promoteBrand-sect {
    margin-top: 140px;
    margin-bottom:140px
}
.promoteBrand-hd-content h3{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 78px;
    line-height: 110%;
    text-align: center;
    color: #000000;
    margin-bottom: 18px;
}
.promoteBrand-hd-content p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 160%;
    text-align: center;
    color: #3F5159;
}
.promoteBrand-hd-content{
    max-width: 1180px;
    margin: auto;
    margin-bottom: 40px;
}
.promote-brand-list-lft {
    background: #FFFFFF;
    box-shadow: 0px 0px 28px rgb(52 91 136 / 6%);
    border-radius: 24px;
    max-width: 41%;
    padding: 20px;
}

.promote-card-hd-img{
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    height: 280px;
    display: flex;
}
.promobrand-bag {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}
.promotebrand-use {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #212325;
    margin-top: 13px;
}
.promotebrand-use span{
    margin-right: 10px;
}
.promoteBrand-list ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.promoteBrand-list ul li{
    margin-bottom: 20px;
}
.promote-card-content {
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
}
.promote-addcart-brn button{
    width: 264px;
    height: 56px;
    /* padding: 0; */
    background: #7B3CF7;
    border-radius: 4px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FCFCFC;
}
.promote-card-content-lft {
    width: 47%;
    margin-right: 10px;
}
.promote-line1 {
    background: #E7E7E7;
    height: 7px;
    max-width: 244px;
    width: 100%;
    display: flex;
    margin-bottom: 9px;
}
.promote-line2{
    background: #E7E7E7;
    height: 7px;
    max-width: 144px;
    width: 100%;
    display: flex;
    margin-bottom: 9px;
}
.promote-line-bottp {
    display: flex;
    align-items: center;
}
.promote-line3{
    background: #000;
    height: 7px;
    max-width: 144px;
    width: 100%;
    display: flex;
    /* margin-bottom: 9px; */
    margin: 0px 10px;
}
.promote-brand-list-mid {
    background: #FFFFFF;
    box-shadow: 0px 0px 28px rgb(52 91 136 / 6%);
    border-radius: 24px;
    max-width: 30%;
    padding: 20px;
}
.promote-line4 {
    background: #E7E7E7;
    height: 7px;
    max-width: 144px;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}
.promote-line5 {
    background: #000;
    height: 7px;
    max-width: 26px;
    width: 100%;
    display: flex;
    margin: 0px 5px;
    align-items: center;
}
.promote-brand-list-right {
    background: #FFFFFF;
    box-shadow: 0px 0px 28px rgb(52 91 136 / 6%);
    border-radius: 24px;
    max-width: 28.5%;
    width: 100%;
    padding: 20px;
    position: relative;
}
.promote-reminder-block{
    position: relative;
    background:url(../images/promotebrand-img3.png) no-repeat;
    background-size: 100% 100%;
    height: 100%;
    border-radius: 24px;
}
.promotebrand-launch {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    padding-top: 24px;
    padding-left: 24px;
}
.promotebrand-launch span{
    margin-right: 10px;
}
.launcing-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.launcing-innerblock{
    background: linear-gradient(
        180deg, rgba(187, 215, 252, 0.4) 0%, rgba(192, 230, 253, 0.4) 100%);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    max-width: 240px;
    width: 100%;
    padding-top: 17px;
}

.launcing-innerblock h3 {
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 12px;
}
.launching-time-block{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}
.reminfer-bttn-blcok{
    background: #FFFFFF;
    border-radius: 0px 0px 10px 10px;
    margin-top: 14px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.launching-time-block span{
    background: #FFFFFF;
    border-radius: 2px;
    height: 36px;
    width: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #929292;
}
.promote-brand-list-bottm-lft{
    background: #FFFFFF;
    box-shadow: 0px 0px 28px rgb(52 91 136 / 6%);
    border-radius: 24px;
    max-width: 21.4%;
    padding: 20px;
}
.enochweb-behind-sect {
    background: #FFFFFF;
    box-shadow: 0px 0px 28px rgb(52 91 136 / 6%);
    padding: 118px 0px;
}
.behind-enoch-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.behind-enoch-block-right h3{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 18px;
}
.promote-line6 {
    background: #E7E7E7;
    height: 7px;
    max-width: 244px;
    width: 100%;
    display: flex;
    margin-bottom: 9px;
}
.promote-card-btmcontent{
    margin-top: 10px;
}
.promote-btmtxt{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
    color: #7DB831;
    margin-bottom: 6px;
}
.promote-offer-btn button{
    width: 100%;
    height: 56px;
    /* padding: 0; */
    background: #7B3CF7;
    border-radius: 4px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FCFCFC;
}
.promote-btmtxt2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 20px;
}
.promote-brand-list-bottm-mid{
    background: #FFFFFF;
    box-shadow: 0px 0px 28px rgb(52 91 136 / 6%);
    border-radius: 24px;
    max-width: 54%;
    width: 100%;
    padding: 20px;
}
.promote-brand-TAC {
    background: #FEF8F1;
    border-radius: 24px;
    height: 329px;
    display: flex;
    overflow: hidden;
}
.promote-brand-TAC-lft{
    width: 60%;
}

.promote-brand-TAC-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 53px;
}
.promote-brand-TAC-lft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../images/tac-bg.png) no-repeat;
    background-image: 100% 100%;
    background-position: right;
}

.promote-brand-TAC-lft h3{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 110%;
    /* text-align: center; */
    color: #FFFFFF;
}
.promote-brand-TAC-lft p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
    max-width: 268px;
}
.promote-brand-TAC-lft{
    padding-left: 45px;
}

.promote-brand-TAC-right h3{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 110%;
    text-align: center;
    color: #858585;
    margin-bottom: 4px;
}
.promote-brand-TAC-right h4{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 110%;
    text-align: center;
    color: #000000;
    margin-bottom: 4px;
}

.promote-brand-TAC-right p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 110%;
    text-align: center;
    color: #000000;
    margin-bottom: 14px;
}
.mt-42{
    margin-top: 45px;
}
.mt-13{
    margin-top: 13px;
}
.behind-enoch-txt1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 160%;
    color: #3F5159;
    margin-bottom: 18px;
}
.behind-enoch-txt2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 118.6%;
    /* text-align: center; */
    color: #000000;
}
.behind-enoch-txt2 a{
    color: #01A3FF;
    text-decoration: underline;
}
.behind-enoch-block-lft {
    width: 43%;
}
.behind-enoch-block-right {
    width: 50%;
}
.enochweb-roadmap-sect {
    padding: 100px 0px;
    position: relative;
}
.enochweb-roadmap-sect h3{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 130%;
    margin-bottom: 6px;
}
.enochweb-roadmap-sect p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    color: #3F5159;
}
.enoch-roadmap-schedule1,.enoch-roadmap-schedule2,.enoch-roadmap-schedule3,.enoch-roadmap-schedule4,.enoch-roadmap-schedule5{
    max-width: 377px;
}
.roadmap-clr1{
    color: #FFA318;
}
.roadmap-clr2{
    color: #801AD0;
}
.roadmap-clr3{
    color: #7DB831;
}
.roadmap-clr4{
    color: #FF1368;
}
.roadmap-clr5{
    color: #27BEFF;
}
.enoch-roadmap-schedule1 {
    position: absolute;
    top: 39%;
    left: 6%;
}
.enoch-roadmap-schedule2 {
    position: absolute;
    bottom: 20%;
    left: 36%;
}
.enoch-roadmap-schedule3 {
    position: absolute;
    top: 8%;
    left: 53%;
}
.enoch-roadmap-schedule4 {
    position: absolute;
    top: 28%;
    right: 7%;
}
.enoch-roadmap-schedule5 {
    position: absolute;
    bottom: 8%;
    right: 2%;
}
.enochweb-invest-sect{
    background: linear-gradient(95.27deg, #3C43F2 8.43%, #4B1AD6 109.92%);
    padding: 30px 20px;
}
.enoch-invest-block {
    display: flex;
    align-items: center;
    height: 100%;
}
.enoch-invest-block-lft h3{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 68px;
    line-height: 130%;
    color: #FFFFFF;
}
.enoch-invest-block-lft p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 160%;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.invest-block-txt1{
    max-width: 660px;
    width: 100%;
}
.invest-block-txt2{
    max-width: 710px;
    width: 100%;
}
.enoch-invest-block-lft p a{
    color: #FCD539;
    font-weight: 700;
}
.enochweb-learnmo-bttn {
    background: #01A3FF;
    border-radius: 7.11475px;
    border: none;
    outline: none;
    width: 161px;
    height: 71px;
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 21.3443px;
    line-height: 118.6%;
    color: #FFFFFF;
}
.enoch-invest-block-lft {
    width: 58.5%;
    margin-right: 50px;
}
.enochweb-partners-investors-sect {
    padding-top: 120px;
}
.partners-investors-hd h3{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 88px;
    line-height: 130%;
    text-align: center;
    color: #000000;
}
.partners-investors-hd p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    text-align: center;
    color: #3F5159;
}
.partners-investors-hd {
    margin-bottom: 40px;
}
.partners-compny-list{
    background: url(../images/partners-bg.png) no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;
    height: 800px;
}
.partners-compny-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    align-items: flex-end;
    position: relative;
}
.partners-compny-listBlock1{
    height: 300px;
}
.partners-compny-list ul li {
    background: #FFFFFF;
    box-shadow: 0px 0px 23.876px rgb(52 91 136 / 6%);
    border-radius: 10.2326px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.partners-compny-list .pcompny-logo1{
    height: 195px;
    max-width: 307px;
    width: 100%;
    padding: 45px;
    position: absolute;
    top: 22%;
    left: 5.5%;
}
.partners-compny-list .pcompny-logo2 {
    max-width: 427px;
    width: 100%;
    height: 250px;
    position: absolute;
    left: 32%;
    top: 0;
}
.partners-compny-list .pcompny-logo3{
    max-width: 380px;
    width: 100%;
    height: 255px;
    position: absolute;
    left: 67.5%;
    top: 22%;
}
.partners-compny-list .pcompny-logo4 {
    max-width: 307px;
    width: 100%;
    height: 220px;
    position: absolute;
    top: 0;
}
.partners-compny-list .pcompny-logo5{
    position: absolute;
    left: 26%;
    top: 0;
    max-width: 302px;
    width: 100%;
    height: 153px;
    padding: 26px 40px;
}
.partners-compny-list .pcompny-logo6{
    position: absolute;
    left: 26%;
    top: 187px;
    max-width: 302px;
    width: 100%;
    height: 193px;
    padding: 26px 40px;
}
.partners-compny-list .pcompny-logo7 {
    max-width: 329px;
    width: 100%;
    height: 225px;
    position: absolute;
    top: 55px;
    left: 52%;;
}
.partners-compny-list .pcompny-logo8 {
    max-width: 277px;
    width: 100%;
    height: 192px;
    position: absolute;
    top: 80px;
    left: 80%;;
}
.enochweb-nft-market-block {
    display: flex;
}
.enochweb-nft-market-block {
    display: flex;
}
.enochweb-nft-market-lft {
    max-width: 630px;   
    padding-top: 40px;
}
.enochweb-nft-market-lft h2{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 160%;
    color: #EA780F;
    margin-bottom: 15px;
}

.enochweb-nft-market-lft h3{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 68px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 16px;
}
.enochweb-nft-market-lft p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    color: #3F5159;
}
.enochweb-nft-market-lft p span{
    text-decoration-line: underline;
    color: #01A3FF;
    cursor: pointer;
}
.enochweb-nft-market-right {
    display: flex;
    background: url(../images/app-bg.png) no-repeat;
    background-size: 100%;
    background-position:center right ;
}
.mb-36{
    margin-bottom: 36px;
}
.mb-26{
    margin-bottom: 26px;
}

.nft-market-btngroup button{
    border: none;
    background: none;
    outline: none;
}
.market-mbl2 {
    margin-left: -55px;
    margin-top: 17%;
}
.enochweb-nft-market-sect {
    margin-top: 30px;
}
.enochweb-follow {
    text-align: center;
}
.enochweb-follow h3 {
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 68px;
    line-height: 130%;
    text-align: center;
    color: #000000;
}
.enochweb-follow p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 160%;
    text-align: center;
    color: #3F5159;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
}

.enochweb-follow ul {
    display: flex;
    justify-content: center;
}
.enochweb-follow ul li{
    margin-left: -30px;
}
.subscribeModal-close .close{
    opacity: 1;
    cursor: pointer;
}
.subscribeModal-close{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
}
.subscribeModal-block .modal-dialog{
    max-width: 1000px;
}
.subscribeModal-head {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.subscribeModal-head h2{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 0px;
}
.subscribeModal-head p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #3F5159;
}
.subscribeModal-content{
    background: #F8FAFD;
    border-radius: 12px;
}
.subscribeModal-steps-content {
    position: relative;
}
.subscribeModal-steps ul{
    display: flex;
}
.subscribeModal-steps ul li {
    
    display: flex;
    flex-direction: column;
    max-width: 307px;
    justify-content: center;
    align-items: center;
    margin-right: -24px;
}
.subscribeModal-steps-content {
    position: relative;
    height: 237px;
}
.subscribeModal-steps-content h3{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 97%;
    color: #FFFFFF;
    margin-bottom: 0;
}

.subscribeModal-steps-content p{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}
.substeps-img1{
    position: absolute;
    top: 24%;
    left: 33%;
}

.substeps-img2 {
    position: absolute;
    top: 8%;
    right: 15%;
}
.steps-innercontent{
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    right: 0;
    left: 0;
}
.subscribeModal-steps-bottmcontent{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 90%;
    color: #000000;
    display: flex;
    align-items: center;
    max-width: 294px;
}
.subscribeModal-steps-bottmcontent span{
    width: 42%;
}
.substeps-img3{
    position: absolute;
    top: 10%;
    left: 9%;
}
.substeps-img4{
    position: absolute;
    top: 19%;
    right: 30%;
}
.substeps-img5 {
    position: absolute;
    top: 19%;
    right: 6%;
}
.subscribeModal-steps-content .substeps-txt {
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 90%;
    text-align: center;
    color: #F1870B;
    transform: rotate(
10.53deg);
    position: absolute;
    max-width: 116px;
    top: 5%;
    right: -38px;
}
.customsteps-pos{
    top: 22%;
}
.subscribeModal-form h3{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 20px;
}
.subscribeModal-form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 40px;
    margin-bottom: 35px;
}
.subscribeModal-subscribeform{
    width: 600px;
    display: flex;
    /* max-width: 800px; */
    margin: auto;
    justify-content: center;
}
.subscribeModal-subscribeform input {
    background: #FFFFFF;
    border: 1px solid #C7DBEA;
    box-sizing: border-box;
    border-radius: 8px;
    max-width: 334px;
    width: 100%;
    height: 80px;
    outline: none;
    text-indent: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 118.6%;
    margin-right: 20px;
}
.subscribeModal-subscribeform input::placeholder{
    color: #6E7F83;
  }
.subscribeform-bttn2 {
    background: #01A3FF;
    border-radius: 8px;
    height: 80px;
    max-width: 208px;
    width: 100%;
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 118.6%;
    color: #FFFFFF;
}
/*end*/
/*Team*/
.enochweb-.team-sect {
    padding-top: 70px;
    background: #fff;
    padding-bottom: 115px;
}
.enochweb-header-team {
    background: linear-gradient( 
253.97deg, #4203AA -1.24%, #4C007B 99.65%);
    padding-top: 5px;
    display: flex;
    align-items: flex-end;
}
.enochweb-team-block-hd {
    text-align: center;
    margin-bottom: 54px;
}
.enochweb-team-block-hd h2{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 140%;
    color: #ED8203;
}
.enochweb-team-block-hd h3{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 78px;
    line-height: 140%;
    text-align: center;
    color: #3D3652;
    margin-bottom: 19px;
}

.enochweb-team-block-hd p{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 160%;
    text-align: center;
    color: #3F5159;
    max-width: 881px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 19px;
}
.enochweb-team-members ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.enochweb-team-members ul li {
    width: 25%;
    text-align: center;
    margin-bottom: 50px;
}
.enochweb-team-img {
    margin-bottom: 36px;
    width: 232px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    overflow: hidden;
}
.enochweb-team-socio-media {
    margin-bottom: 10px;
}
.enochweb-team-socio-media span {
    margin: 0px 12px;
}
.enochweb-team-members h2 {
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 140%;
    text-align: center;
    color: #3D3652;
    margin-bottom: 40px;
}
.enochweb-team-members p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #2F5068;
}
.enochweb-team-members ul li h3 {
    font-family: Rajdhani;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;
    text-align: center;
    color: #000000;
}
.enochweb-adventure-block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.enochweb-adventureright h3{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    color: #3D3652;
    margin-bottom: 16px;
}
.enochweb-adventureright p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 140%;
    color: #3F5159;
    margin-bottom: 16px;
}
.jointeam-btn {
    background: #01A3FF;
    border-radius: 8px;
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 118.6%;
    color: #FFFFFF;
    height: 76px;
    width:205px;
}
.enochweb-adventureright {
    max-width: 645px;
    margin-left: 40px;
}
.enochweb-adventure {
    padding-top: 140px;
}
/* End  */

/*responsive*/

@media only screen and (max-width: 1800px) {

}
@media only screen and (max-width: 1560px) {
    .enochweb-explore-sect h2{
        font-size: 48px;
    line-height: 158%;
    }
    .enochweb-do-stuff-block {
        margin-left: 5%;
    }
    .enochweb-do-stuff-block-lft ul li{
        font-size: 22px;
    }
    .stuff-block-img {
        max-width: 600px;
    }
    .do-stuff-img {
        width: 200px;
        height: 200px;
    }
    .enoch-roadmap-schedule1{
        top: 36%;
    }
    .enoch-roadmap-schedule4 {
        top: 27%;
        right: 4%;
    }
    .enochweb-roadmap-sect p{
        font-size: 22px;
    }
    .enoch-roadmap-schedule1, .enoch-roadmap-schedule2, .enoch-roadmap-schedule3, .enoch-roadmap-schedule4, .enoch-roadmap-schedule5 {
    max-width: 332px;
    }
    .enoch-roadmap-schedule5{
        right: 0;
    }
    .promoteBrand-hd-content h3{
        font-size: 64px;
    }
    .promoteBrand-hd-content {
        max-width: 1166px;
    }
    .promoteBrand-hd-content p{
        font-size: 30px;
    }
    .enochweb-team-block-hd h3{
        font-size: 68px;
    }
    .enochweb-header-team{
        height: 600px;
    }
    .enochweb-adventure {
        padding-top: 100px;
    }
    .enochweb-.team-sect{
        padding-bottom: 80px;
    }
}
@media only screen and (max-width: 1480px){
/*new css */

.enochweb-header-centent{
    height: 900px;
}
span.enochweb-top-hd {
    max-width: 120px;
}
.enochweb-header-img {
    margin-top: 60px;
}
.enochweb-explore-sect {
    padding-top: 80px;
}
.enoch-home-explore-item {
    margin-top: 80px;
}
.enoch-home-explore-item ul li p{
    font-size: 22px;
}
.enoch-home-explore-item ul li h3{
    font-size: 44px;
    line-height: 120%;
}
.enochweb-do-stuff-block {
    margin-left: 5.6%;
}
.enochweb-do-stuff-block-lft ul li {
    font-size: 20px;
}
.do-stuff-img {
    width: 180px;
    height: 180px;
    padding: 10px;
}
.enoch-home-makemoney-item ul li h3{
    font-size: 44px;   
    line-height: 120%;
}
.enoch-home-makemoney-item ul li p{
    font-size: 22px;
}
.enoch-home-makemoney-item ul li{
    height: 750px;
}

.behind-enoch-block-right h3{
    font-size: 44px;
    line-height: 120%;
}
.behind-enoch-txt1{
    font-size: 30px;
    line-height: 150%;
}
.behind-enoch-txt2{
    font-size: 22px;
}
.enochweb-makemoney-sect{
    padding: 80px 0px;
}
.enochweb-promoteBrand-sect {
    margin-top: 80px;
    margin-bottom: 80px;
}
.enochweb-behind-sect{
    padding:80px 0px;
}
.enochweb-roadmap-sect {
    padding: 80px 0px;
}
.enochweb-roadmap-sect p {
    font-size: 20px;
}
.enoch-roadmap-schedule1, .enoch-roadmap-schedule2, .enoch-roadmap-schedule3, .enoch-roadmap-schedule4, .enoch-roadmap-schedule5 {
    max-width: 302px;
}
.partners-compny-list .pcompny-logo1{
    top: 26%;
}
.partners-compny-list .pcompny-logo2{
    left: 31.7%;
}
.partners-compny-list .pcompny-logo2{
    top: 13px;
}
.partners-compny-list .pcompny-logo7{
    top: 48px;
}
.partners-compny-list .pcompny-logo8{
    top: 70px;
}
.partners-compny-list .pcompny-logo6{
    top: 177px;
}
.enochweb-partners-investors-sect {
    padding-top: 80px;
}
.partners-compny-list{
    height: 738px;
}
.stuff-block-img {
    max-width: 540px;
}
.enochweb-home-stuff-sect{
    padding-bottom: 80px;
}
.enoch-invest-block-lft h3{
    font-size: 58px;
}
.enoch-invest-block-lft p{
    font-size: 20px;
}
.partners-investors-hd h3{
    font-size: 68px;
}
.enochweb-team-block-hd h3 {
    font-size: 58px;
}
.enochweb-team-block-hd p {
    font-size: 34px;
    line-height: 140%;
}
.enochweb-team-members h2{
    font-size: 54px;
}
.promote-btmtxt{
    font-size: 18px;
  }
  .makemoney-hd-img {
    max-width: 562px;
}
.promote-brand-list-mid,.promote-brand-list-right{
    max-width: 28%;
}
.promote-addcart-brn button {
    width: 225px;
}
.enochweb-adventure {
    padding-top:80px;
}
.enochweb-.team-sect {
    padding-bottom:80px;
}
/* End */

}
@media only screen and (max-width: 1366px){

}
@media only screen and (max-width: 1280px){
/*new css*/
        
        .enochweb-header-img{
            max-width: 76%;
        }
        .enochweb-header-centent p{
            font-size: 25.1094px;
        }
        .enochweb-header-centent {
            height: 700px;
        }
        .enochweb-explore-sect h2 {
            font-size: 42px;
            line-height: 140%;
        }
        .enoch-home-explore-item ul li h3 {
            font-size: 38px;
            line-height: 116%;
        }
        .enochweb-do-stuff-block-lft h3{
            font-size: 40px;
            line-height: 120%;
        }
        .enochweb-do-stuff-block {
            margin-left: 5%;
        }
        .do-stuff-txt2{
            font-size: 22px;
            line-height: 140%;
        }
        .enochweb-do-stuff-block-lft ul li {
            font-size: 16px;
        }
        .enochweb-do-stuff-block-right {
            height: 678px;
        }
        .stuff-block-img {
            max-width: 477px;
        }
        .do-stuff-img {
            width: 150px;
            height: 150px;
        }
        .makemoney-hd-img {
            max-width: 457px;
        }
        .makemoney-hd-txt{
            font-size: 20px;
            margin-bottom: 60px;
        }
        .enoch-home-makemoney-item ul li h3 {
            font-size: 38px;
            line-height: 120%;
        }
        .enoch-home-makemoney-item ul li p {
            font-size: 20px;
        }
        .promoteBrand-hd-content h3 {
            font-size: 58px;
        }
        .promoteBrand-hd-content p {
            font-size: 28px;
        }
        .promote-addcart-brn button{
            width: 172px;
        }
        .launcing-innerblock{
            max-width: 210px;
        }
        .launching-time-block span{
            width: 22px;
        }
        .promote-brand-TAC-lft {
            padding-left: 30px;
        }
        .promote-brand-TAC-lft h3{
            font-size: 58px;
        }
        .promote-brand-TAC-lft p{
            font-size: 18px;
            max-width: 230px;
        }
        .promote-brand-TAC-lft {
            width: 55%;
        }
        .promote-brand-TAC-right h3{
            font-size: 20px;
        }
        .promote-brand-TAC-right h4{
            font-size: 26px;
        }
        .promote-brand-TAC-right p{
            font-size: 15px;
        }
        .promote-btmtxt{
            font-size: 15px;
        }
        .promotebrand-use{
            font-size: 15px;
        }
        .enochweb-roadmap-sect h3{
            font-size: 38px;
        }
        .enochweb-roadmap-sect p {
            font-size: 18px;
        }
        .enoch-roadmap-schedule1, .enoch-roadmap-schedule2, .enoch-roadmap-schedule3, .enoch-roadmap-schedule4, .enoch-roadmap-schedule5 {
            max-width: 262px;
        }
        .enoch-invest-block-lft h3{
            font-size: 48px;
        }
        .partners-compny-list .pcompny-logo1{
            max-width: 24%;
        }
        .partners-compny-list .pcompny-logo2 {
            max-width: 34%;
        }
        .partners-compny-list .pcompny-logo3 {
            max-width: 25%;
        }
        .partners-compny-list .pcompny-logo4 {
            max-width: 24%;
            width: 100%;
        }
        .partners-compny-list .pcompny-logo5,.partners-compny-list .pcompny-logo6{
            max-width: 22%;
        }
        .partners-compny-list .pcompny-logo7 {
            max-width: 25%;
            left: 50%;
            height: 216px;
        }
        .partners-compny-list .pcompny-logo8{
            max-width: 20%;
            left: 78%;
        }
        .enochweb-follow {
            margin-top: 40px;
        }
        .subscribeModal-steps-content{
            max-width: 88%;
        }
        .subscribeModal-steps-content h3{
            font-size: 38px;
        }
        .subscribeModal-steps-content p{
            font-size: 14px;
        }
        .steps-innercontent {
            top: 48%;
        }
        .subscribeModal-steps-bottmcontent{
            font-size: 16px;
    line-height: 110%;
        }
        .subscribeModal-head{
            margin-bottom: 24px;
        }
        .subscribeModal-form{
            margin-top: 24px;
        }
        .subscribeModal-form h3{
            font-size: 28px;
        }
        .subscribeModal-subscribeform input,.subscribeform-bttn2{
            height: 58px;
        }
        .subscribeModal-form{
            margin-bottom: 18px;
        }
        .subscribeModal-head {
            margin-top: 28px;
        }
        .customsteps-pos {
            top: 22%;
        }
        .subscribeModal-steps-content {
       
            height: 204px;
        }
        .enochweb-team-members ul li h3{
            font-size: 32px;
        }
        .enochweb-team-members p{
            font-size: 20px;
        }
        .enochweb-team-img{
            width: 190px;
        }
        .enochweb-team-block-hd h3 {
            font-size: 48px;
        }
        .enochweb-team-block-hd p{
            font-size: 32px;
            line-height: 140%;
            max-width: 810px;
        }
        .enochweb-adventureright p{
            font-size: 24px;
        }
        .enochweb-adventureright h3{
            font-size: 42px;
        }
        .enochweb-header-team {
            height: 510px;
        }
        .market-mbl2 {
            margin-left: -25px;
        }
        .enochweb-footer-sect-top-right {
            width: 28.22%;
        }
        /* End */
	
}

@media only screen and (max-width: 1024px){
    /*new css*/
    .enochweb-header-img {
        margin-top: 140px;
      }
      span.enochweb-top-hd {
        max-width: 106px;
        top: 32%;
    }
    .enochweb-explore-sect h2 {
        font-size: 28px;
        line-height: 130%;
    }
    .enochweb-explore-sect {
        padding-top: 60px;
    }
    .enoch-home-explore-item {
        margin-top: 60px;
    }
    .enoch-home-explore-item ul li{
        height: auto;
    }
    .enochweb-do-stuff-block-lft h3 {
        font-size: 34px;
        line-height: 120%;
    }
    .do-stuff-txt2 {
        font-size: 20px;
    }
    .enochweb-do-stuff-block-lft ul li {
        font-size: 14px;
    }
    .enoch-home-makemoney-item ul li {
        height: auto;
    }
    .enoch-home-makemoney-item ul li h3 {
        font-size: 36px;
    }
    .enoch-home-makemoney-item ul li p {
        font-size: 18px;
        line-height: 30px;
    }
    .promoteBrand-hd-content h3 {
        font-size: 48px;
    }
    .promoteBrand-hd-content p {
        font-size: 24px;
    }
    .promote-addcart-brn button {
        width: 158px;
        font-size: 14px;
    }
    .launching-time-block span {
        width: 18px;
        font-size: 14px;
    }
    .launcing-innerblock {
        max-width: 184px;
    }
    .promotebrand-launch,.promotebrand-use{
        font-size: 13px;
    }
    .promobrand-bag{
        top: 20px;
        max-width: 20px;
        right: 20px;
    }
    .promote-brand-TAC-lft h3 {
        font-size: 46px;
    }
    .promote-brand-TAC-lft p {
        font-size: 16px;
    }
    .promote-brand-TAC-right h3 {
        font-size: 18px;
    }
    .promote-brand-TAC-right h4 {
        font-size: 21px;
    }
    .promote-brand-TAC-right{
        padding: 20px 30px;
    }
    .promote-btmtxt {
        font-size: 13px;
    }
    .mt-13 {
        margin-top: 23px;
    }
    .enochweb-do-stuff-innerblock{
        margin-top: 46px;
    }
    .enochweb-makemoney-sect {
        padding: 60px 0px;
    }
    .makemoney-hd-img {
        max-width: 370px;
    }
    .enochweb-promoteBrand-sect {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .enochweb-behind-sect {
        padding: 60px 0px;
    }
    .behind-enoch-block-right h3 {
        font-size: 38px;
    }
    .behind-enoch-txt1 {
        font-size: 24px;
        line-height: 140%;
    }
    .behind-enoch-txt2 {
        font-size: 18px;
    }
    .enochweb-roadmap-sect {
        padding: 60px 0px;
    }
    .enochweb-roadmap-sect h3{
        font-size: 32px;
    }
    .enoch-roadmap-schedule1, .enoch-roadmap-schedule2, .enoch-roadmap-schedule3, .enoch-roadmap-schedule4, .enoch-roadmap-schedule5 {
        max-width: 226px;
    }
    .enochweb-roadmap-sect p {
        font-size: 16px;
    }
    .enochweb-invest-sect{
        height: auto;
        padding: 60px 0px;
    }
    .enoch-invest-block-lft h3{
        font-size: 42px;
    }
    .enoch-invest-block-lft p{
        font-size: 16px;
    }
    .enoch-invest-block-lft {
        width: 80.5%;
        margin-right: 50px;
    }
    .partners-investors-hd h3{
        font-size: 48px;
    }    
    .partners-investors-hd p{
        font-size: 20px;
    }
    .enochweb-partners-investors-sect {
        padding-top: 60px;
    }
    .partners-compny-list .pcompny-logo1{
        width: 23%;
    }
    .partners-compny-list .pcompny-logo2 {
        max-width: 33%;
        width: 100%;
        top: 20px;
    }
    .partners-compny-list .pcompny-logo3 {
        max-width: 28%;
        width: 100%;
        height: auto;
        padding: 20px;
    }    
    .partners-compny-list .pcompny-logo4{
        max-width: 24%;
        width: 100%;
        padding: 30px;
    }
    .partners-compny-list .pcompny-logo5{
        max-width: 22%;
        padding: 26px 40px;
    }
    .partners-compny-list .pcompny-logo6{
        max-width: 22%;
        padding: 26px 40px;
    }
    .partners-compny-list .pcompny-logo7 {
        top: 32px;
        max-width: 25%;
        padding: 40px;
    }
    .partners-compny-list .pcompny-logo8 {
        top: 57px;
        max-width: 20%;
        padding: 25px;
    }
    .enochweb-nft-market-lft h3{
        font-size: 48px;
        line-height: 110%;
    }
    .enochweb-nft-market-lft p{
        
    font-size: 18px;
    line-height: 140%;

    }
    .enochweb-nft-market-lft {
        max-width: 492px;
    }
    .nft-market-btngroup button {
        max-width: 200px;
    }
    .enochweb-follow h3{
        font-size: 48px;
    }
    .enochweb-follow p{
        font-size: 20px;
    }
    .enochweb-follow {
        margin-top: 40px;
    }
    .enochweb-follow ul li {
        max-width: 98px;
        margin-left: -18px;
    }
   
      .promote-card-hd-img{
        height: 223px;
      }
     
    .subscribeModal-subscribeform input,.subscribeform-bttn2{
        height: 64px;
    }
    .enochweb-home-stuff-sect{
        padding-bottom: 60px;
    }
    .promote-brand-TAC{
        height: 253px;
    }
    .enochweb-team-members ul li {
        width: 30%;
    }
    .subscribeModal-steps-content {
        height: 100%;
    }
    .subscribeModal-steps-content {
        max-width: 100%;
    }
    .steps-innercontent {
        top: 40%;
    }
    .customsteps-pos {
        top: 22%;
    }
    /* End */
	
}

@media only screen and (max-width: 991px){
    /*new css*/
    .enochweb-header-centent p {
        font-size: 20.1094px;
    }
    
    .enoch-home-explore-item ul li h3 {
        font-size: 28px;
    }
        .enoch-home-explore-item ul li p {
            font-size: 15px;
        }
        .enoch-home-explore-item ul li{
            padding: 56px 20px;
            margin-bottom: 24px;
        }
    .enochweb-do-stuff-innerblock {
        flex-direction: column;
    }
    .enochweb-do-stuff-block-lft {
        width: 100%;
        padding-right: 30px;
    }
    .enochweb-do-stuff-block {
        margin-left: 7%;
    }
    .enochweb-do-stuff-block-lft h3 {
        font-size: 30px;
    }
    .enochweb-do-stuff-block-right{
        width: 100%;
        margin-top: 40px;
    }    
    .makemoney-hd-img {
        max-width: 290px;
    }
    .enoch-home-makemoney-item ul li{
        padding: 40px 20px;
    margin-bottom: 20px;
    }
    .enoch-home-makemoney-item ul li h3 {
        font-size: 24px;
    }
    .enoch-home-makemoney-item ul li p {
        font-size: 14px;
        line-height: 30px;
    }
    .promoteBrand-list ul li {
        max-width: 48%;
        width: 100%;
    }    
    .stuff-block-img {
        max-width: 540px;
    }
    .enochweb-do-stuff-block-right{
        justify-content: flex-start;
    }
    
      .promote-card-hd-img {
        height: 226px;
    }
    .promote-card-hd-img img{
        height: 100%;
        width: 100%;
    }
    .promote-brand-TAC-lft h3 {
        font-size: 28px;
    }
    .promote-brand-TAC-lft p {
        font-size: 14px;
    }
    .promote-brand-TAC-lft {
        padding-left: 15px;
    }
    .promote-brand-TAC-right {
        padding: 20px 10px;
    }
    .enochweb-header-centent {
        height: 583px;
    }
    .enochweb-roadmap-sect h3 {
        font-size: 28px;
    }
    .enochweb-roadmap-sect p {
        font-size: 13px;
    }
    .enoch-roadmap-schedule1, .enoch-roadmap-schedule2, .enoch-roadmap-schedule3, .enoch-roadmap-schedule4, .enoch-roadmap-schedule5 {
        max-width: 158px;
    }
    .enoch-roadmap-schedule1 {
        top: 32%;
    }
    .enoch-roadmap-schedule2 {
        bottom: 14%;
    }
    .enoch-roadmap-schedule4 {
        right: 5%;
    }
    .enoch-roadmap-schedule5 {
        right: 2%;
    }
    .enoch-invest-block {
        flex-direction: column;
    }
    .enoch-invest-block-right {
        margin-top: 40px;
    }
    .partners-compny-list .pcompny-logo3{
        top:45%;
    }
    .enochweb-nft-market-right{
        align-items: center;
    }
    .enochweb-nft-market-lft {
        max-width: 376px;
    }
    .enochweb-nft-market-lft h3 {
        font-size: 38px;
    }
    .enochweb-nft-market-lft p {
        font-size: 15px;
    }
    .mb-36 {
        margin-bottom: 20px;
    }
    .nft-market-btngroup button {
        max-width: 182px;
    }
    .enochweb-nft-market-lft h2{
        font-size: 22px;
    }
    .steps-innercontent p{
        font-size: 10px;
    }
    .enochweb-team-members ul li {
        width: 50%;
    }
    .enochweb-team-block-hd h3 {
        font-size: 34px;
    }
    .enochweb-team-block-hd p {
        font-size: 28px;
    }
    .enochweb-.team-sect {
        padding-bottom: 40px;
    }
    .enochweb-adventure {
        padding-top: 40px;
    }
    .steps-innercontent {
        top: 47%;
    }
    .customsteps-pos {
        top: 22%;
    }
    .substeps-img2{
        right: 6%;
    }
    /* End */
	
}
@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 767px){
    /*new css*/
   
    .enochweb-header-centent p {
        max-width: 400px;
    }
    span.enochweb-top-hd {
        max-width: 66px;
    }
    .enochweb-header-centent {
        height: 486px;
    }
    .enochweb-header-img {
        margin-top: 118px;
        max-width: 400px;
    }
    .enochweb-explore-sect h2 {
        font-size: 22px;
        line-height: 128%;
    }
    .enoch-home-explore-item ul,.enoch-home-makemoney-item ul,.promoteBrand-list ul {
        flex-direction: column;
    }
    .enoch-home-explore-item ul li,.enoch-home-makemoney-item ul li,.promoteBrand-list ul li {
        max-width: 100%;
        width: 100%;
    }
    .enochweb-do-stuff-block-lft{
        text-align: center;
    }
    .makemoney-hd-img{
        margin-left: auto;
        margin-right: auto;
    }
    .makemoney-hd-txt {
        text-align: center;
    }
    .promoteBrand-hd-content h3 {
        font-size: 28px;
    }
    .promoteBrand-hd-content p {
        font-size: 18px;
    }
    .promote-reminder-block{
        height: 350px;
    }
    .behind-enoch-block {
        flex-direction: column;
    }
    .behind-enoch-block-lft {
        width: 100%;
    }
    .behind-enoch-block-right {
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    .enoch-invest-block-lft {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }
    .partners-investors-hd h3 {
        font-size: 30px;
        line-height: 34px;
    }
    .enochweb-nft-market-block {
        flex-direction: column;
    }
    .enochweb-nft-market-lft {
        max-width: 100%;
        text-align: center;
    }
    .enochweb-nft-market-lft h2 {
        font-size: 20px;
    }
    .enochweb-nft-market-lft h3 {
        font-size: 28px;
    }
    .enochweb-nft-market-lft p {
        font-size: 13px;
    }
    .enoch-home-explore-item ul li, .enoch-home-makemoney-item ul li, .promoteBrand-list ul li{
        text-align: center;
    }
    .promote-card-hd-img {
        height: auto;
    }
    .enochweb-do-stuff-block {
        margin-left: 0;
    }
    .enochweb-do-stuff-block-right {
        width: 100%;
        margin-left: auto;
        max-width: 79%;
        display: flex;
        justify-content: flex-end;
    }
    .enochweb-do-stuff-block-lft {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .subscribeModal-steps ul{
        flex-direction: column;
    }
    .subscribeModal-steps ul li{
        max-width: 100%;
    }
    .subscribeModal-line{
        transform: rotate(90deg);
        margin-top: 9%;
        margin-bottom: 9%;
    }
    .subscribeModal-subscribeform {
        flex-direction: column;
    }
    .subscribeModal-subscribeform {
        width: 100%;
    }
    .subscribeModal-subscribeform input, .subscribeform-bttn2{
        max-width: 100%;
    }
    .subscribeform-bttn2{
        margin-top: 16px;
    }
    .enochweb-header-team {
        height: 366px;
    }
    /* End  */

}
@media only screen and (max-width: 480px){
/*new css*/
.enochweb-header-img {
    max-width: 240px;
}
.enochweb-header-centent p {
    max-width: 347px;
    padding: 0px 20px;
    margin-top: 20px;
    font-size: 18px;
}
.makemoney-hd-icon {
    max-width: 88px;
    margin-left: auto;
    margin-right: auto;
}
.promote-brand-TAC-right h3 {
    font-size: 15px;
}
.promote-brand-TAC-right h4 {
    font-size: 17px;
}
.promote-brand-TAC-right p {
    font-size: 13px;
}
promote-brand-TAC-right img{
    max-width: 64px;
}
.enochweb-roadmap-sect h3 {
    font-size: 13px;
    margin-bottom: 0;
}
.enochweb-roadmap-sect p {
    font-size: 8px;
    line-height: 11px;

}
.enoch-roadmap-schedule1, .enoch-roadmap-schedule2, .enoch-roadmap-schedule3, .enoch-roadmap-schedule4, .enoch-roadmap-schedule5 {
    max-width: 66px;
}
.enoch-roadmap-schedule4 {
    top: 31%;
}
.enoch-roadmap-schedule1 {
    top: 26%;
}
.partners-compny-list {
    height: 300px;
}
.partners-compny-listBlock1 {
    height: 113px;
}
.partners-compny-list .pcompny-logo1{
    padding: 20px 10px;
    height: auto;
    top: 48%;
}
.partners-compny-list .pcompny-logo2 {
    max-width: 33%;
    width: 100%;
    top: 0px;
    padding: 10px 20px;
    height: auto;
}
.partners-compny-list .pcompny-logo3 {
    top: 29%;
}
.partners-compny-list .pcompny-logo4 {
    max-width: 24%;
    width: 100%;
    padding: 20px 15px;
    height: auto;
}
.partners-compny-list .pcompny-logo5 {
    max-width: 24%;
    padding: 11px;
    height: auto;
}
.partners-compny-list .pcompny-logo6 {
    max-width: 24%;
    padding: 11px;
    height: auto;
    top: 60px;
}
.partners-compny-list .pcompny-logo7 {
    top: 25px;
    max-width: 25%;
    padding: 18px 15px;
    height: auto;
}
.partners-compny-list .pcompny-logo8 {
    top: 35px;
    max-width: 20%;
    padding: 17px 10px;
    height: auto;
}
.partners-compny-list {
    height: auto;
    margin-bottom: 80px;
}
.nft-market-btngroup button {
    max-width: 125px;
}
.enochweb-do-stuff-block-lft {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.enochweb-do-stuff-block-lft ul {
    flex-direction: column;
}
.enochweb-do-stuff-block-lft ul li{
    width: 100%;
}
.enochweb-do-stuff-block {
    margin-left: 0;
}
.enochweb-do-stuff-block-right {
    width: 100%;
    margin-left: auto;
    max-width: 79%;
    display: flex;
    justify-content: flex-end;
}
.enochweb-do-stuff-block-right {
    height: 347px;
}
.stuff-block-img{
    margin: 24px;
}
.do-stuff-img {
    width: 80px;
    height: 80px;
    left: -58px;
}
.promote-brand-TAC {
    flex-direction: column;
    height: auto;
}
.promote-brand-TAC-lft {
    width: 100%;
}
.promote-brand-TAC-lft {
    padding: 20px;
    background: #C66802;
}
.promote-brand-TAC-lft {
    width: 100%;
}
.promote-brand-TAC-right {
    padding: 20px;
    width: 100%;
}
.promote-card-content {
    flex-direction: column;
}
.promote-card-content-lft {
    width: 100%;
}
.promote-addcart-brn button {
    width: 100%;
    margin-top: 20px;
}
.partners-compny-list{
    background-position: top;
}
.market-mbl2 {
    margin-left: -22px;
}
.enochweb-learnmo-bttn{
    width: 100%;
    height: 56px;
}
.subscribeModal-line {
    margin-top: 13%;
}
.subscribeModal-steps-content .substeps-txt{
    top: 0%;
    right: -2px;
}
.enochweb-header-team {
    height: 240px;
}
.enochweb-team-block-hd h3 {
    font-size: 28px;
}
.enochweb-team-block-hd p {
    font-size: 24px;
}
.enochweb-team-members ul li {
    width: 100%;
}
.enochweb-adventure-block{
    flex-direction: column;
}
.enochweb-adventure-left {
    margin-bottom: 40px;
}
.enochweb-adventureright h3 {
    font-size: 32px;
}
.enochweb-adventureright {
    max-width: 100%;
    text-align: center;
    margin-left: 0px;
}
.jointeam-btn{
    width: 100%;
}
.subscribeModal-head {
    margin-top: 60px;
}
/* End  */

}

@media only screen and (max-width:375px){
	
}
@media only screen and (max-width:320px){
    .partners-compny-list .pcompny-logo2{
        top: 26px;
    }

}