.mynetworkBody{
    margin-top: 35px;
}
.MyNetworkLeftCol-sect{
    filter: drop-shadow(-4px 8px 24px rgba(44, 63, 88, 0.02));
    background: #FFFFFF;
    border-radius: 4px;
    max-width: 321px;
    height: 100%;
    padding: 16px 24px;
    margin-right: 16px;
}
.MyNetworkLeftCol-sect h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 170.23%;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 0px;
}
.ManageMyNetwork-list{
    margin: 24px 32px;
}
.ManageMyNetwork-list li {
    margin-bottom: 32px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.23%;
    color: #000000;
	cursor:pointer;
}
.MyNetworkRightCol-sect{
    max-width: 967px;
    width: 100%;
    min-height: 1213px;
    margin-left: 16px;
}
.No-pending-invitations-sect{
    filter: drop-shadow(-4px 8px 24px rgba(44, 63, 88, 0.02));
    background: #FFFFFF;
    border-radius: 4px;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 24px;
    margin-bottom: 32px;
}
.No-pending-invitations-sect h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.23%;
    margin-bottom: 0px;
    color: #000000;
}
.No-pending-invitations-sect button {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 170.23%;
    border: none;
    background: transparent;
    outline: none;
    color: #7521E2;
}
.follow-Suggestions-people-list-sect{
    filter: drop-shadow(-4px 8px 24px rgba(44, 63, 88, 0.02));
    background: #FFFFFF;
    border-radius: 4px;
    min-height: 1101px;
    max-width: 967px;
    width: 100%;
    margin-top: 0px;
    padding: 24px;
}
.follow-Suggestions-people-list-sect h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.23%;
    color: #000000;
    margin-bottom: 24px;
}
.follow-list-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.follow_list_card{
    width: 23.8%;
    height: 312px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(176, 181, 192, 0.24);
    border-radius: 8px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 12px;
    position: relative;
}

.follow_list_card_DP{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.follow_list_card_DP img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.follow_list_card h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 170.23%;
    text-align: center;
    color: #000000;
    margin-top: 4px;
    margin-bottom: 8px;
    word-break: break-word;
}
.follow_list_card h5 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #3F434A;
    max-width: 194px;
    width: 100%;
    margin-bottom: 7px;
}
.follow_list_card h6 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0px;
    color: #3F434A;
}
.follow_list_card h6 span{
    min-width: 16px;
    margin-right: 8px;
}
.follow_list_card button.Follow-btn{
    max-width: 154px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    outline: none;
    border: 1px solid #8A9099;
    box-sizing: border-box;
    border-radius: 74px;
    margin-top: 12px;
    background: transparent;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #3F434A;
}
.follow_list_card button.Follow-btn span{
    margin-right: 5px;
}
.follow_list_card button.follow-card-close-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #F8F8F8;
}

.follow_list_card button.Following-btn{
    max-width: 154px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    outline: none;
    border: none;
    box-sizing: border-box;
    border-radius: 74px;
    margin-top: 12px;
    background: #2BBD54;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    display: none;
}
.follow_list_card button.Following-btn span{
    margin-right: 5px;
}

.Manage-invitations-sect{
    filter: drop-shadow(-4px 8px 24px rgba(44, 63, 88, 0.02));
    background: #FFFFFF;
    border-radius: 4px;
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    padding: 24px 26px;
}

.Manage-invitations-headings{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 12px;
}
.Manage-invitations-headings h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.23%;
    margin-bottom: 0px;
    color: #000000;
}
.Manage_invitations_tabs {
    overflow: hidden;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #D4D8DD;
}
.Manage_invitations_tabs button {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 170.23%;
    color: #3F434A;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 12px;
    margin-bottom: 0px;
    margin-right: 24px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 4px solid transparent;
    padding-left: 0px;
}
.Manage_invitations_tabs button:hover , .Manage_invitations_tabs button.active {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 170.23%;
    color: #7521E2;
    border-bottom: 4px solid #7521E2;
}
.Manage_invitations_tabcontent {
    display: none;
}

.Manage_invitations_Received_tab_headings{
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #D4D8DD;
}
.Manage_invitations_Received_tab_headings button{
    background: #7521E2;
    border-radius: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 4px 20px;
    border: none;
    outline: none;
}
.Manage_invitations_Received_tab_body{
    min-height: 880px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Choose-who-connect-popUp {
    position: absolute;
    right: 0px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    width: 384px;
    min-height: 160px;
    padding: 16px;
    display: none;
    z-index: 1;
}
.Choose-who-connect-popUp h3{
    min-height: 49px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 14px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #3F434A;
    margin-bottom: 8px;
}
.Choose-who-connect-popUp-text{
    min-height: 71px;
    width: 100%;
    padding: 14px;
    background: #FFFFFF;
    border-radius: 2px;
}
.Choose-who-connect-popUp-text h4{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 5px;
    color: #3F434A;
}
.Choose-who-connect-popUp-text p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 130%;
    color: #3F434A;
}


.Manage_invitations_sent_tab_headings{
    min-height: 59px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D4D8DD;
}
.Manage_invitations_sent_tab_headings_left h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.23%;
    margin-bottom: 0px;
    color: #8A9099;
}
.Manage_invitations_sent_tab_headings_right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.Manage_invitations_sent_tab_headings_right h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.23%;
    margin-bottom: 0px;
    color: #8A9099;
}

.All_invitations_dropdown_sect{
    position: relative;
}
.All_invitations_dropbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 12px;
    cursor: pointer;
}
.All_invitations_dropbox h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.23%;
    margin-bottom: 0px;
    color: #3F434A;
    margin-right: 10px;
}
.All_invitations_dropList{
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    width: 150px;
    position: absolute;
    right: 0px;
    display: none;
    padding: 16px;
	z-index:1;
}
.All_invitations_dropList ul li{
    height: 24px;
}
.upldContactfile {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    margin-top: 16px;
}

.Manage_invitations_sent_tab_body{
    min-height: 880px;
}
.Manage-invitations-settingsBtn{
    cursor: pointer;
}
.Follow_fresh_perspectives_sect{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 56px;
    width: 100%;
    filter: drop-shadow(-4px 8px 24px rgba(44, 63, 88, 0.02));
    background: #FFFFFF;
    border-radius: 4px;
    padding: 0px 24px;
    margin-bottom: 24px;
}
.Follow_fresh_perspectives_sect h2 {
    padding-top: 16px;
    padding-bottom: 12px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.23%;
    color: #000000;
    margin-right: 62px;
    margin-bottom: 0px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
}
.Follow_fresh_perspectives_sect h2.active, .Follow_fresh_perspectives_sect h2:hover {
    color: #7521E2;
    border-bottom: 4px solid #7521E2;
}
.Filter_Network_Icons_sect span{
    cursor: pointer;
}
.Filter_Network_sect{
    position: relative;
}
.Filter_Network_sect h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 170.23%;
    margin-bottom: 8px;
    color: #000000;
    margin-bottom: 8px;
}
.Filter_Network_Content{
    filter: drop-shadow(-4px 8px 24px rgba(44, 63, 88, 0.02));
    background: #FFFFFF;
    border-radius: 4px;
    min-height: 80px;
    width: 100%;
    margin-bottom: 12px;
    padding: 26px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Filter_Network_Content h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 170.23%;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    color: #000000;
}
.Filter_Network_Icons_sect{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.Filter_Network_Icons_sect span{
    margin-left: 32px;
}
.filter_menu_sect{
    position: absolute;
    top: 95px;
    right: 22px;
    z-index: 1;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    width: 236px;
    min-height: 427px;
    display: none;
}
.filter_menu_sect ul{
    padding: 16px;
}
.filter_menu_sect ul li{
    padding: 10px 14px;
    margin-bottom: 4px;
    border-radius: 2px;
    cursor: pointer;
}
.filter_menu_sect ul li.filter_menu_sect_all_btn{
    padding: 5px 14px;
    margin-bottom: 4px;
}

.filter_menu_sect ul li.filter_menu_sect_all_btn h5{
    margin-bottom: 0px;
}
.filter_menu_sect ul li h5 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 170.23%;
    display: flex;
    align-items: center;
    color: #3F434A;
    margin-bottom: 4px;
}
.filter_menu_sect ul li p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 130%;
    color: #3F434A;
}

.filter_menu_sect ul li:hover{
    background: #7521E2;
}
.filter_menu_sect ul li:hover h5{
    color: #ffffff;
}
.filter_menu_sect ul li:hover p{
    color: #ffffff;
}



.follow_list_card.follow_HashTag_card{
    height: 296px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgb(176 181 192 / 24%);
    border-radius: 8px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 0px;
    position: relative;
    display: none;
}
.follow_list_card.follow_HashTag_card .follow_HashTag_card_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.follow_list_card.follow_HashTag_card h4{
    margin-top: 9px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    border-bottom: 1px solid #EDF1F6;
    width: 100%;
}
.follow_list_card.follow_HashTag_card p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    margin-top: 9px;
    color: #3F434A;
    margin-bottom: 12px;
}

.follow_card_btns{
    padding: 0px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.follow_HashTag_card_btns{
    padding: 0px 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.follow_card_btns.active .Follow-btn{
    display: none;
}
.follow_card_btns.active .Following-btn{
    display: block;
}








@media (min-width: 1100px) and (max-width: 1220px) {
    .MyNetworkLeftCol-sect h2{
        font-size: 17px;
    }
    .follow_list_card h4{
        font-size: 14px;
    }
    .follow_list_card h5{
        font-size: 12px;
        line-height: 19px;
    }
}

@media (min-width: 992px) and (max-width: 1099px){
    .follow_list_card{
        width: 32%;
    }
    .MyNetworkLeftCol-sect h2 {
        font-size: 16px;
    }
    .ManageMyNetwork-list li {
        margin-bottom: 20px;
        font-size: 13px;
    }
}

@media (max-width: 991px){
    .MyNetworkLeftCol-sect{
        margin-right: 0px;
        max-width: 100%;
        height: auto;
        min-height: auto;
        margin-bottom: 32px;
        width: 100%;
    }
    .MyNetworkRightCol-sect{
        margin-left: 0px;
    }
}

@media (min-width: 768px) and (max-width: 912px){
    .follow_list_card h4{
        font-size: 14px;
    }
    .follow_list_card h5{
        font-size: 11px;
        line-height: 19px;
    }
    .follow_list_card h6 {
        font-size: 11px;
    }
}
@media (max-width: 768px){
    .follow_list_card{
        width: 32%;
    }
    .mynetworkBody{
        padding: 0px 10px;
    }
}

@media (min-width: 541px) and (max-width: 668px){
    .follow_list_card h4{
        font-size: 13px;
    }
    .follow_list_card h5 {
        font-size: 11px;
        line-height: 21px;
    }
    .follow_list_card h6 {
        font-size: 11px;
    }
}

@media (max-width: 668px){
    .Follow_fresh_perspectives_sect h2 {
        font-size: 14px;
        line-height: 170.23%;
        color: #000000;
        margin-right: 30px;
    }
}
@media (max-width: 596px){
    .filter_menu_sect{
        top: 118px;
    }
}
@media (max-width: 540px){
    .follow_list_card{
        width: 48%;
    }
    .follow-Suggestions-people-list-sect {
        padding: 24px 16px;
    }
    .Follow_fresh_perspectives_sect {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        margin: 0px;
    }
    .Follow_fresh_perspectives_sect h2 {
        font-size: 16px;
		text-align:center;
		width:100%;
    }
    .Filter_Network_sect h3{
        margin-top: 24px;
    }
    
}
@media (max-width: 450px){
    .Choose-who-connect-popUp{
        width: 100%;
    }
    .Manage_invitations_sent_tab_headings {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        border-bottom: 1px solid #D4D8DD;
        padding: 16px 0px;
    }
    .Manage_invitations_sent_tab_headings_left{
        margin-bottom: 16px;
    }
}


@media (min-width: 411px) and (max-width: 447px){
    .follow_list_card h4{
        font-size: 14px;
    }
    .follow_list_card h5{
        font-size: 11px;
        line-height: 19px;
    }
    .follow_list_card h6 {
        font-size: 11px;
    }
}
@media (max-width: 411px){
    .Filter_Network_Icons_sect span {
        margin-left: 20px;
    }
    .Filter_Network_Content h4{
        font-size: 15px;
    }
    .follow_list_card{
        width: 90%;
        margin: auto;
        margin-bottom: 24px;
    }
}
@media (max-width: 375px){
    .Filter_Network_Icons_sect span{
        max-width: 20px;
        min-width: 20px;
    }
    .Filter_Network_Content {
        padding: 12px 24px;
    }
}
@media (min-width: 360px) and (max-width: 375px){
    .follow_list_card_DP{
        height: 88px;
        width: 88px;
    }
    .follow_list_card_DP img{
        height: 100%;
        width: 100%;
    }
    .follow_list_card h4{
        font-size: 13px;
    }
    .follow_list_card h5{
        font-size: 10px;
        line-height: 19px;
    }
    .follow_list_card h6 {
        font-size: 10px;
    }
}

@media (max-width: 359px){
    
    .No-pending-invitations-sect button {
        font-size: 14px;
    }
    .No-pending-invitations-sect h2{
        font-size: 14px;
    }
}

/* ayan */
/* Ayaan network new css */

.sidenav {
    background-color: white;
    height: 100%;
    border: 1px solid grey;
}

.avex_network_col-sm-9 {
    padding: 16px 40px;
    width: 100%;
    background: white;
    margin-bottom: 16px;
}

.modal-footer_avex_ntwork {
    background-color: #555;
    color: white;
    padding: 15px;
}

.nav_nav-pills_nav-stacked_avex {

    background: #FFFFFF;
    border-radius: 4px;
    width: 100%;
    padding: 15px 24px;

}

/*ayaan*/

.invi_heading {
    margin: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.23%;
    color: #000000;
}

.manage_invi_tab-pop button.active {
    border-bottom: 3px solid #7521e2;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 170.23%;
    color: #7521E2;
    border-bottom: 4px solid #7521E2;
}

.manage_invi_tab-pop button.tablinks.active {
    border-bottom: 3px solid #7521e2;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 170.23%;
    color: #7521E2;
    border-bottom: 4px solid #7521E2;
}

.manage_invi_tab-pop button:hover {
    color: #7521e2;
}

.manage_invi_tab-pop {
    overflow: hidden;
    border-bottom: 1px solid #d4d8dd;

    font-family: poppins;
}

.manage_invi_tab-pop button {
    background-color: inherit;
    /* float: left; */
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    /* padding: 6px 0px; */
    font-weight: normal;
    font-size: 16px;
    line-height: 170.23%;
    color: #000000;
    /* position: relative; */
    margin-right: 24px;
}

.manage_invi_tabs{
    margin-top: 12px;
}

.selct_numbering {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.num_slct {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.23%;
    color: #8A9099;
}

.filtr_txt {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.23%;
    color: #8A9099;
    margin-right: 12px;
}

.mostRelevent__link {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.23%;
    color: #3F434A;
    margin-right: 16px;
}

.Find-start-conversation-Chat-list_ave_network ul li {
    margin-bottom: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    border-top: 1px solid #D4D8DD;
    ;
}

.net_avex_new {

    padding: 0%;

}

.Find-start-conversation-Chat-list-users_avex_network {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.Find-start-conversation-Chat-list-user-dp_avex_network_dp {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 36px;
    border-radius: 50%;
    position: relative;
}

.Find-start-conversation-Chat-list-text_avex_nft {
    margin-left: 12px;
}

.Find-start-conversation-Chat-list-text_avex_nft h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    color: #000000;
}

.Find-start-conversation-Chat-list-text_avex_nft p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    color: #8a9099;
}

.Find-start-conversation-Chat-list-btns_avex_netwrk {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sidebarUserListLiblack_avex_nft {
    margin-bottom: 8px;
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    background: #eaf9ee;
    opacity: 1;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sidebarUserListLiblack_avex_nft:hover{
    background: #2BBD54;
    
}

.plus_server_icon.white_arrow {

display: none;

}

.sidebarUserListLiblack_avex_nft:hover .plus_server_icon.white_arrow {


display: block;

}

.sidebarUserListLiblack_avex_nft:hover .plus_server_icon.green_arrow {


    display: none;
    
    }

.sidebarUserListLired_avex_nft {
    margin-bottom: 8px;
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    background: #FEECEB;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Avex_Manage_invitations_sent_tab_headings_right {

    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.Nft_avex_All_invitations_dropbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 12px;
    cursor: pointer;
}
.Nft_avex_All_invitations_dropbox  h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.23%;
    margin-bottom: 0px;
    color: #3F434A;
    margin-right: 10px;
}

.Avex_Manage_invitations_sent_tab_headings_right h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.23%;
    margin-bottom: 0px;
    color: #8A9099;
}

.plus_server_icon {
    padding: 0px;
}

/* aynn dropdwn data toggle */

.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none;
    
}

.select-selected {
    background-color: DodgerBlue;
}


.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}


.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}


.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}


.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}


.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Data Toggle end */

/* Follow List */

.follow-list_avex_nft {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.follow_list_card_avex_nft {
    width: 23.8%;
    height: 312px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgb(176 181 192 / 24%);
    border-radius: 8px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 12px;
    position: relative;
}


.follow_list_card_avex_nft_DP {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.follow_list_card_avex_nft h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 170.23%;
    text-align: center;
    color: #000000;
    margin-top: 4px;
    margin-bottom: 8px;
}

.follow_list_card_avex_nft h5 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #3F434A;
    max-width: 194px;
    width: 100%;
    margin-bottom: 7px;
}

.follow_list_card_avex_nft button.Follow-btn_avex span {
    margin-right: 5px;
}

.follow_list_card_avex_nft h6 span {
    min-width: 16px;
    margin-right: 8px;
}

.follow_list_card_avex_nft h6 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0px;
    color: #3F434A;
}

.follow_list_card_avex_nft button.Follow-btn_avex {
    max-width: 154px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    outline: none;
    border: 1px solid #8A9099;
    box-sizing: border-box;
    border-radius: 74px;
    margin-top: 12px;
    background: transparent;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #3F434A;
}

.follow_list_card_avex_nft button.Following-btn {
    max-width: 154px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    outline: none;
    border: none;
    box-sizing: border-box;
    border-radius: 74px;
    margin-top: 12px;
    background: #2BBD54;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    display: none;
}

.follow_list_card_avex_nft button.follow-card-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #F8F8F8;
}

/* Follow list End */



@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

/* Custom checkbox */

.Avex_ntwrk_container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.Avex_ntwrk_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    /* background-color: #eee; */
    border: 1px solid #D4D8DD;
    box-sizing: border-box;
    border-radius: 2px;
}



.Avex_ntwrk_container input:checked~.checkmark {
    background: #FF8A00;
    border: none;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.Avex_ntwrk_container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.Avex_ntwrk_container .checkmark:after {
    left: 5.5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom_checkbox_avex {

    width: 16px;
    margin-right: 16px;
}

.cus_avex_netwrk {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}


/* Follow back Button Screen */

.avex_btn_ntwrk_nft {


    width: 130px;
    height: 32px;
    background: #2BBD54;
    border-radius: 50px;
    border: none;
    color: white;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;


}
.follow_back_btn {
    width: 130px;
    height: 32px;
    background: #2BBD54;
    border-radius: 50px;
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.avex_btn_ntwrk_ignr {
    width: 103px;
    height: 32px;
    border: 1px solid #3F434A;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #3F434A;
    background: transparent;
    margin-right: 16px;
}
.Choose-who-connect-popUp {

z-index: 99999;

}
.avex_btn_ntwrk_acpt {
    width: 103px;
    height: 32px;
    border: 1px solid #3F434A;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: white;
    background: #7521E2;
    border: none;

}

/* End  */

/* Accept Modal */

#my_network_Modal .modal-dialog {
    max-width: 400px !important;
    margin: 0 auto !important;
}

#my_network_Modal .modal-header {
    border-bottom: 0;
    padding-bottom: 0;
}

#my_network_Modal .modal-body {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 25px;
}

#my_network_Modal .modal-footer_avex_ntwork {
    border: 0;
    background: #F8F8F8;
    border-radius: 0px 0px 4px 4px;
}

#my_network_Modal .modal-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 170.23%;
    color: #000000;
}

#my_network_Modal .bodyText {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    padding: 16px 0;
    color: #000000;
}

#my_network_Modal .modal-footer_avex_ntwork {
    border: 0;
    background: #ffffff;
    border-radius: 0px 0px 4px 4px;
    justify-content: center;
}
#my_network_Modal .modal-footer_avex_ntwork button.modal_acpt_ok {
    background: #2BBD54;
    border-radius: 60px;
    border: none;
    width: 98px;
    height: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.modal-footer_avex_ntwork {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}
#my_network_Modal span.txt_bld {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 170.23%;
    text-align: center;
    color: #000000;
}

.plus_server_icon_dact {
    display: block;
}
.plus_server_icon_act {
    display: none;
}
.mynet_acceptModal{
	opcity:1;
	transition: opacity .15s linear;
}
/* End */

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .num_slct {

        font-size: 16px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .sidebarUserListLiblack_avex_nft {

        margin-bottom: 8px;
        position: relative;
        width: 28px;
        height: 28px;
        border-radius: 50px;
        background: #eaf9ee;
        opacity: 1;
        margin-right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .plus_server_icon {
        padding: 7px;
    }

    /* .sidebarUserListLiblack_avex_nft :hover {

       background: green;
    } */


    .sidebarUserListLired_avex_nft {
        width: 27px;
        height: 27px;
    }

    .Find-start-conversation-Chat-list-text {

        margin-right: 10px;
    }

    .Find-start-conversation-Chat-list-text p {

        font-size: 10px;

    }
    .follow_back_btn {
        width: 85px;
        
        font-size: 11px;
        
    }

    .Avex_Manage_invitations_sent_tab_headings_right {
        
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .Nft_avex_All_invitations_dropbox h4 {
        
        margin-right: 0;
    }

    .avex_btn_ntwrk_acpt {
      
       width: 100%;
        
       margin-right: 0;
    }

    span.ignr_nft {
        width: 100%;
        margin-top: 10px;
    }

    span.acpt_nft {
        width: 100%;
        margin-top: 15px;
    }

    .avex_btn_ntwrk_ignr {
        width: 100%;
        
        margin-right: 0;
    }

    .selct_numbering {
        flex-direction: column;
    }

}

/* athis */
/* Network Screen Followrerx */

.tab-pop {
    overflow: hidden;
   
    font-family: poppins;
}

.tab-pop button.active {
    border-bottom: 3px solid #7521e2;
}

.tab-pop button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    padding: 6px 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.23%;
    color: #000000;
    position: relative;
    margin-right: 64px;
}

.follow_avex {
    width: 100%;
    height: 56px;
    background: white;
    padding: 15px 24px 14px;
}

.descrip_avex {
    font-weight: 500;
    font-size: 14px;
    line-height: 170.23%;
    color: #000000;
    font-family: 'Poppins';
	margin-bottom:8px;
}

.network_folwers_decsp {
    margin-top: 24px;
    
}

.ad_mre_btns {
    background: white;
    max-width: 967px;
    height: 80px;
    padding: 26px;
}

.bdy_sec_ntwrk {
    padding: 24px;
    background: white;
	    border-radius: 4px;
}

.bdy_sec_ntwrk ul li {
    margin-bottom: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    border-top: 1px solid #D4D8DD;
    background: white;
}

.avex_btn_ntwrk {
    border: 1px solid;
    outline: none;
    width: 109px;
    height: 32px;
    background: transparent;
    border: 1px solid #3F434A;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #3F434A;
}

@media screen and (min-device-width: 320px) and (max-device-width: 720px) { 
    
    .tab-pop button {
        font-size: 9px;
        padding: 5px;
        margin-right: 2px;
    }

    .follow_avex {
       margin-top: 25px;
       padding: 4px 4px 4px 4px;
    }

    .descrip_avex {
        
        padding-left: 15px;
    }

}
@media screen and (min-device-width: 320px) and (max-device-width: 992px) { 
    
    .follow_avex {
       /* margin-top: 25px; */
        
    }

    .MyNetworkRightCol-sect {
        
        margin-left: 0;
    }
    

}

.buttonstag{


    display: flex;
    background: white;
    height: 80px;
    padding: 24px;
}
.btn-addcontacts{


    border: 1px solid #7521E2;
    box-sizing: border-box;
    border-radius: 30px;
    width: 208px;
    height: 32px;
    padding: 3px 12px 2px 9px;
    margin-left: 24px;
}
.butonanchor {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.23%;
    color: #7521E2;
}
.btn-addcontacts3{


    border: 1px solid #7521E2;
    box-sizing: border-box;
    border-radius: 30px;
    width: 262px;
    height: 32px;
    padding: 3px 12px 2px 9px;
    margin-left: 24px;
}
.butonanchor3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.23%;
    color: #7521E2;
}


.Find-start-conversation-Chat-list-users-bft-block{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.Find-start-conversation-Chat-list-user-dp-nft-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 36px;
    border-radius: 50%;
    position: relative;
}
.Find-start-conversation-Chat-list-user-dp-nft-sec img{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 36px;
    border-radius: 50%;
    overflow: hidden;
}
.Find-start-conversation-Chat-list-text-nft-text{
    margin-left: 12px;
}
.Find-start-conversation-Chat-list-text-nft-text h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    color: #000000;
}
.Find-start-conversation-Chat-list-text-nft-text p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    color: #8A9099;
}

























.datetime{
    display: flex;
	align-items:center;

}
.date {
    margin-left: 5px;
}
.imp_avex_cntct {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.23%;
    color: #000000;
}
.Headdown-nft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}
.serch_company {
    position: relative;
}
.filtr_txt {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.23%;
    color: #8A9099;
    margin-right: 12px;
}
.SortedByitem__link {
        font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 170.23%;
    color: #3F434A;
    cursor: pointer;
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.magicSearchFull__search {
    font-family: "Poppins", sans-serif;
    width: 254px;
    padding: 11px 30px;
    font-size: 12px;
    line-height: 1.58;
    position: relative;
    color: #3f434a;
    border: none;
    outline: none;
    height: 42px;
    justify-content: center;
    align-items: center;
    background: #F4F6F9;
    border-radius: 8px;
}
.magic_serch_company {
    position: absolute;
    right: 0px;
    left: 9px;
    top: 13px;
    font-size: 10px;
    width: 18px;
}
.network-importcontact.open .Recent-add-fn-ln{
	display:block;
}
.SortedByitem {
    display: flex;
    align-items: center;
}
.SortedByitem {
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 170.23%;
    color: #3F434A;
}
@media (min-width: 320px) and (max-width: 520px){
    .Headdown-nft{
        flex-direction: column;
    }
    .imp_avex_cntct{
        text-align: center;
    }

    
}


/* ahtisham */

.cntct_btns_avex {
    max-width: 967px;
    height: 80px;
    background: white;
    margin-bottom: 12px;
    padding: 24px;
    border-radius:4px;
}

.nft_btn {
    width: 208px;
    height: 32px;
    border: 1px solid #7521E2;
    box-sizing: border-box;
    border-radius: 30px;
    margin-right: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.23%;
    color: #7521E2;
    background-color: transparent;
}


.nft_btn2 {
    width: 176px;
    height: 32px;
    border: 1px solid #7521E2;
    box-sizing: border-box;
    border-radius: 30px;
    margin-right: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.23%;
    color: #7521E2;
    background-color: transparent;
   
}

.nft_btn3 {
    width: 262px;
    height: 32px;
    border: 1px solid #7521E2;
    box-sizing: border-box;
    border-radius: 30px;
     margin-right: 24px; 
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.23%;
    color: #7521E2;
    background-color: transparent;
}


@media screen and (min-device-width: 320px) and (max-device-width: 720px) { 
    
    .tab-pop button {
        font-size: 9px;
        padding: 5px;
        margin-right: 2px;
    }

    .follow_avex {
       margin-top: 25px;
       padding: 10px 4px 9px 4px;
    }

    .descrip_avex {
        
        padding-left: 15px;
    }

    .Headdown-nft {
        flex-direction: column;
   
    }

    .magicSearchFull__search {
        margin-top: 12px;
    }

    .imp_avex_cntct {
        text-align: center;
    }
    .magic_serch_company {
        
        top: 25px;
        
    }
}
@media screen and (min-device-width: 320px) and (max-device-width: 992px) { 
    
    .follow_avex {
       margin-top: 25px;
        
    }

    .MyNetworkRightCol-sect {
        
        margin-left: 0;
    }
    
    .nft_btn {
        width: 100%;
        height: 32px;
        margin-bottom: 8px;
        
    }
    .nft_btn2 {
        width: 100%;
        height: 32px;
        margin-bottom: 8px;
        
    }

    .nft_btn3 {
        width: 100%;
        height: 32px;
        
    }

    .cntct_btns_avex {
        
        height: 143px;
       padding: 10px;
    }

}

.nft_icons {

margin-right: 8px;

}

@media (min-width: 994px) and (max-width: 1099px){
    .custon_nft33{

display: flex;

    }
}
@media (min-width: 994px) and (max-width: 1099px){
    .custon_nft33{

display: flex;

    }

    .nft_btn2 {
        font-size: 14px;
    }
    .nft_btn{
        font-size: 14px;
    }
    .nft_btn3 {
        font-size: 14px;
    }
}

/* dropdown */
.Recent-add-fn-ln {
    position: absolute;
    right: 0px;
    /* top: 40px; */
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgb(0 0 0 / 12%);
    border-radius: 4px;
    width: 188px;
    padding: 8px;
    display: none;
    z-index: 1;
    cursor: pointer;
    
border-radius: 4px;
}

.recent:hover{

    background: #7521e2;
    color: white;
}

.bdy_sec_ntwrk .recent{

	font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 170.23%;
    /* display: flex; */
    align-items: center;
    color: #3F434A;
    padding: 2px 0px 2px 8px;
    cursor: pointer;
    border-radius: 2px;
    border: 0px;
    padding-top: 0px;
	margin-bottom:0px;

}
.network-importcontact-dropbox{
	margin-right:4px;
}
.bdy_sec_ntwrk .recent:hover{
	color:#fff;
}
.mostarrowIcon{

    cursor: pointer;
}


/* Modal */
.btn {
     border-radius :(2px);
  }
  
  .btn .btn-primary{
     
      border-color: black;
      background-color: white;
    
  }
  
   
  .caps { text-transform: uppercase; }
  
  pre.prettyprint {
    padding: 15px !important;
    border: 0 !important;
    font-family: consolas;
    font-size: 14px;
    /* background-color: rgb(46, 44, 52) !important; */
     border-radius : 2px !important;
  }
    .callout-demo  {
      max-height: 415px;
    }
  
    .modal-dialog-avex{
        margin-top: 201px;
        margin-left: 480px;
    }
    .modal-content-avex{

        position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
    width: 960px;
    height: 666px;
}
img.bookpng {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mynet-messeging-modal .modal-header{

    border-bottom: none !important;
}

.alreadyknow {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 170.23%;
    text-align: center;
    color: #000000;
    margin-top: 16px;
	margin-bottom:0px;
}

.syncfast{

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 170.23%;
    text-align: center;
    color: #8A9099;
}
.description-avex {
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 28px;
text-align: center;
color: #3F434A;
margin-top: 14px;
}
/* .input-group-nft{

    position: relative;
    
    display: flex;
    
    border: none;
    
  
    max-width: 69%;
    margin-left: 75px;
} */
.form-control {
    border: none;
    background: #F4F6F9;
    border-radius: 8px;}


   .mynet-messeging-modal .modal-dialog {
        width: 100%;
        max-width: 960px; 
      }

     
  input#emails {
        max-width: 484px;
    width: 100%;
    height: 42px;
    margin-right: 10px;
    background: #F4F6F9;
    border-radius: 8px;
    border: none;
    padding-left: 14px;
    outline: none;
}
.netform-group{
	margin-bottom:24px;
    margin-top: 24px;
    
}
.network-msg-innerblock {
    max-width: 524px;
    margin: auto;
}
.input-group-nft {
   
    display: flex;
    border: none;
   justify-content: center;
   align-items: center;
}
.continue-btn{

    background: #7521E2;
    border-radius: 50px;
    width: 111px;
    height: 42px;
   
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}
.oneofthese {
    text-align: center;
    justify-content: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 170.23%;
    text-align: center;
    color: #3F434A;
    margin-top: 22px;
}
.box{

    width: 80px;
    height: 80px;
    border: 1px solid #C6C9CC;
}
.center{

    padding: 25px;
    text-align: center;
}

.socialul {
    display: flex;
   
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 12px;
    margin-bottom: 40px;
}
.socialiconsbox {
    /* margin-left: 16px; */
    cursor: pointer;
    width: 10%;
	margin:0px 8px;
}


.mynet-messeging-modal .modal-footer {
    margin: auto;
    justify-content: center;
    align-items: center;
    border: none;
}
.footerimages {
    display: flex;
}

.footerpics li{
	margin-left:-14px;
}
.footerpics li:first-child{
	margin-left:0px;
}
.Footertext{

    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 170.23%;
margin: auto;
    margin-left: 16px;


color: #000000;
}

#demo-1 {
    background: #3F434A;
    overflow-y: auto;
}
.mynet-messeging-modal .modal-body  {
    border-bottom: 1px solid #D4D8DD;
	    padding: 0px 70px;
}


#demo-2 {
    background: #3F434A;
    overflow-y: auto;
}

.btn-goback {
    border: none;
    background: transparent;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #7521E2;
}
.backimg {
    margin-right: 10px;
}

input#emails-model-2{
    max-width: 524px;
    width: 100%;
    height: 42px;  
    background: #F4F6F9;
    border-radius: 8px;
    border: none;
    padding-left: 14px;
    outline: none;
}
.invitetxt{
    margin: auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
   
}

.mynet-messeging-modal .close{
	opacity:1;
}
/* RADIO BUTTONS */

.community-type-content_avex_nft1 .container {
    display: flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 0px;
}
.community-type-content_avex_nft1 .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.community-type-content_avex_nft1 .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #D4D8DD;
    box-sizing: border-box;
}
.community-type-content_avex_nft1 .container input:checked ~ .checkmark:after {
    display: block;
}
.community-type-content_avex_nft1 .container .checkmark:after {
    left: 6.5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(
45deg
);
    -ms-transform: rotate(45deg);
    transform: rotate(
45deg
);
}

.community-type-content_avex_nft1 .container input:checked ~ .checkmark {
    background-color: #FF8A00;
    border: none;
}

.community-type-content_avex_nft1 .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.community-type-content_avex_nft1{
    margin-top: 16px;
}


.invitetxt2{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    color: #8A9099;
    margin-bottom: 16px;
}
.community-type-content_avex_nft1 .container p{


    
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 120%;
/* or 18px */


/* Dark2 */

color: #3F434A;
}


continuetobox {
    color: white;
    background: #D4D8DD;
    border-radius: 50px;
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
} 
/* colorchange */

.continuetobox:disabled {
   
  pointer-events: none;
  color: #D4D8DD;
  background: #D4D8DD !important;
  
  
}
button#letsCook {
    background: #7521E2;
    color: white;
    border-radius: 50px;
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    Width :119px;
Height: 42px;
margin-top: 26px;
    margin-bottom: 14px;
}

.avex_upload_btn:disabled{
    pointer-events: none;
  color: #D4D8DD;
  background: #D4D8DD !important;

}
.disabled-button{

    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* upload file css */


.artdeco-text-input {


    display: flex;
    justify-content: center;
    align-items: center;

}

.avex_upload_files {

    display: flex;
    width: 302px;
    height: 42px;
    background: #F4F6F9;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    border: none;

}

.mn-abi-form__file-upload-input{


display: none;

}
.avex_pl2 {

margin-left: 12px;

}

.avex_upload_btn {


    pointer-events: none;
    color: white !important;
    
    border: none;
    margin-left: 12px;
    width: 103px;
    height: 42px;
    left: 0px;
    top: 0px;
    background: #7521E2;
    border-radius: 50px;
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 22px;
/* identical to box height */

text-align: center;

}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) { 
    .bookpng {

        width: 47px;
        height: 50px;
        display: flex;
    justify-content: center;
    align-items: center;
}

.alreadyknow {
    
    font-size: 21px;
    line-height: 159.23%;
    

}

.syncfast {
    
    font-size: 16px;
    
}

input#emails-model-2 {
   
    padding: 20px;
}

.invitetxt {
    
    font-size: 16px;
    line-height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0 !important;
}

.footerimages {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
.description-avex {
   
    font-size: 13px;
    justify-content: center;
    align-items: center;
    display: flex;
}
input#emails {
    
    padding: 20px;
    width: 67%;
    
}
.oneofthese {

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 8px;
   
}
::placeholder {

font-size: 14px;
text-align: center;
justify-content: center;
display: flex;

}
.artdeco-text-input{
    flex-direction: column;
}
}

.footerpics{
    display: flex;
}

@media screen and (min-device-width: 320px) and (max-device-width: 338px) { 


    input#emails{
        width: 172px;



    }



}
@media screen and (min-device-width: 320px) and (max-device-width: 400px) { 

    .socialiconsbox{

        width: 26%;
        margin-top: 16px;
    }
.mynet-messeging-modal .modal-body{
	    padding: 0px 24px;
}
.mynet-messeging-modal .modal-dialog {
    margin: 0;
}
}

#demo-3{

    background: #3F434A;
}

@media screen and (min-device-width: 570px) and (max-device-width: 865px) { 

    .socialiconsbox{

        width: 14%;
        margin-top: 16px;
    }


}
@media screen and (min-device-width: 400px) and (max-device-width: 570px) { 

    .socialiconsbox{

        width: 23%;
        margin-top: 16px;
    }


}