/* Ahti Community Css */

.communitytableList_avex_GrantUser {
    background-color: #f8f7fa;
    color: #62666b;
}

.communitytableList_avex_GrantUser {
    margin-top: 18px;
}

.communitytableList_avex_GrantUser table {
    width: 100%;
    margin-bottom: 0;
    color: #212529;
}

.communitytableList_avex_GrantUser {
    max-height: 750px;
    /* overflow-y: scroll; */
    margin-bottom: 24px;
}

.communitytableList_avex_GrantUser .table thead th {
    border: 0;
    padding: 17px 33px 19px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 158%;
    color: #62666B;
    vertical-align: middle;
}

span.icn_tct_grnt {

    margin-left: 6px;
}

.create-page-sect_nft_grant {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.create-page-sect_nft_grant h5 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #8A9099;
}

.exist_main {


    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 100%;
    /* or 24px */

    display: flex;
    align-items: center;
    text-align: center;
    color: #8A9099;
    margin-bottom: 15px;

}

.create-page-sect_nft_grant {

    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    /* display: flex; */
    align-items: center;
    color: #000000;
    position: relative;
}


.abslute_descrp {
    position: absolute;
    text-align: left;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    bottom: 0;
}

p.grnt_txt_sec {
    /* display: flex; */
    /* flex-direction: column; */
    /* margin-top: 20%; */
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .communitytableList_avex_GrantUser {
        overflow-y: scroll !important;
    }

    .create-page-sect_nft_grant {
        height: 600px;

    }

    .communitytableList_avex_GrantUser table {
        width: 700px;

    }

    .create-page-sect_nft_grant {
        height: 700px;

    }

    .communitytableList_avex_GrantUser .table thead th {

        padding: 25px 9px 19px;
        font-size: 16px;

    }
}


@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .communitytableList_avex_GrantUser table {
        width: 700px;

    }

    .communitytableList_avex_GrantUser .table thead th {

        font-size: 15px;

    }
}

@media screen and (min-device-width: 1026px) and (max-device-width: 1280px) {

    .communitytableList_avex_GrantUser .table thead th {

        padding: 21px 14px 25px;
        font-size: 15px;

    }
}


/* response */

@media (max-width: 768px) {

    .welcome-message-sect_avex .welcome-message-content_avex,
    .adult-community-sect_avex .adult-community-content_avex {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .welcome-message-sect_avex .welcome-message-content_avex {
        max-width: 100%;
    }
}

@media (max-width: 425px) {

    .welcome-message-toggle-switch_nft .switch,
    .adult-community-toggle-switch .switch,
    .Enable-Disable-Awards-slideBtn .switch {
        position: relative;
        display: inline-block;
        width: 35px;
        height: 20px;
        padding-right: 45px;
        padding-top: 0px;
    }
}

@media (max-width: 540px) {

    .welcome-message-sect_avex .welcome-message-content_avex h2,
    .adult-community-sect_avex .adult-community-content_avex h2 {
        max-width: 80%;
    }
}

/* Content Control Css */

img.tble_icn.img-fluid {
    margin-top: 20px;
    margin-left: 10px;
}


.tble_icn_avex {

    margin-left: 10px;
}


.community-body-left-Col_avex_content .community-headings {
    border-bottom: 1px solid #D4D8DD;
    padding-bottom: 16px;
    display: flex;
}

.community-body-left-Col_avex_content .community-headings h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 158%;
    color: #000000;
    margin-bottom: 0;
}

.community-body-left-Col_avex_content .community-headings p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #3F434A;
}

.community-body-left-Col_avex_content .community-name-sect {
    margin-top: 28px;
}

.community-body-left-Col_avex_content {
    background: #ffffff;
    padding: 16px 40px;
    max-width: 972px;
    width: 100%;
    border-radius: 4px;
}

.community-body-left-Col_avex_content .community-name-sect h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 158%;
    margin-bottom: 16px;
    color: #000000;
}

.welcome-message-sect_avex .welcome-message-content_avex h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 138%;
    /* identical to box height, or 25px */


    /* Dark2 */

    color: #3F434A;

}

.welcome-message-sect_avex .welcome-message-content_avex p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 158%;
    color: #8A9099;
}



.community-type-sect_avex_new {
    margin-top: 32px;
}

.community-type-sect_avex_new h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 158%;
    /* identical to box height, or 38px */


    color: #000000;

    border-bottom: 1px solid #D4D8DD;
    padding-bottom: 24px;
    margin-bottom: 0px;
}

.community-type-sect_avex_new .community-type-content_avex {
    margin-top: 24px;
}

.community-type-sect_avex_new .community-type-content_avex h5 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 138%;
    color: #3F434A;
    margin-bottom: 16px;
}

.community-type-sect_avex_new .community-type-content_avex p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 158%;
    color: #8A9099;
    margin-bottom: 16px;
}



.community-type-content_avex .container-avex {
    display: flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 0px;
}

.community-type-content_avex .container-avex p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 138%;
    /* or 22px */


    /* Dark2 */

    color: #3F434A;

    margin-top: -3px;
}

.community-type-content_avex .container-avex p b {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 170.23%;
    display: flex;
    align-items: center;
    color: #3F434A;
    padding-right: 5px;
}

.community-type-content_avex .container-avex input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.community-type-content_avex .checkmark_avex1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #D4D8DD;
    box-sizing: border-box;
}

.community-type-content_avex .container-avex input:checked~.checkmark_avex1 {
    background-color: #FF8A00;
    border: none;
}

.community-type-content_avex .container-avex input:checked~.checkmark_avex1:after {
    display: block;
}

.community-type-content_avex .container-avex .checkmark_avex1:after {
    left: 6.5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.community-type-content_avex .checkmark_avex1:after {
    content: "";
    position: absolute;
    display: none;
}

.adult-community-sect_avex {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

.adult-community-sect_avex .adult-community-content_avex {
    max-width: 787px;
    width: 100%;
}

.adult-community-sect_avex .adult-community-content_avex h2 {
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 138%;
/* identical to box height, or 25px */


/* Dark2 */

color: #3F434A;
}


.adult-community-sect_avex .adult-community-content_avex p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 158%;
    /* or 25px */
    
    
    /* Grey1 */
    
    color: #8A9099;
    
}

.welcome-message-sect_avex {
    position: relative;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adult-community-toggle-switch input:checked+.slider {
    background-color: #7521E2;

}

.adult-community-toggle-switch .slider.round {
    border-radius: 34px;
}

.adult-community-toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.adult-community-toggle-switch .slider.round:before {
    border-radius: 50%;
}

.adult-community-toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.adult-community-toggle-switch {
    position: absolute;
    top: 0px !important;
    right: 0px;
}

a.anchor_txt {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 158%;
    color: #7521E2;
}

/* new css toggle slide Ahti  */


.welcome-message-toggle-switch_nft{
    position: absolute;
    top: 0px;
    right: 0px;
}
.welcome-message-toggle-switch_nft .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    padding-right: 50px;
    padding-top: 25px;
}
.welcome-message-toggle-switch_nft .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.welcome-message-toggle-switch_nft .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.welcome-message-toggle-switch_nft .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.welcome-message-toggle-switch_nft input:checked + .slider {
    background-color: #7521E2;
}
.welcome-message-toggle-switch_nft input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.welcome-message-toggle-switch_nft input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.welcome-message-toggle-switch_nft .slider.round {
    border-radius: 34px;
}
.welcome-message-toggle-switch_nft .slider.round:before {
    border-radius: 50%;
}


/* End */


/* Toggle Ahti */

/* toggle */



.switch-cntrol {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 16px;
	margin-left: 26px;
	margin-bottom:0px;
	margin-top: 8px;
}

.switch-cntrol input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-cntrol {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D8D8D8;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-cntrol:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: -14px;
    bottom: -3px;
    background-color: #959595;
    -webkit-transition: .4s;
    transition: .4s;
}

.cntrol-switch-usr input:checked + .slider-cntrol {
  background:#E4CFFF;
}



.cntrol-switch-usr input:checked + .slider-cntrol:before {
  -webkit-transform: translateX(33px);
  -ms-transform: translateX(33px);
  transform: translateX(33px);
  background: #8743DF;
}


.slider-cntrol.round {
  border-radius: 23px;
}

.slider-cntrol.round:before {
  border-radius: 50%;
}

.slider-cntrol.round:active {
   background-color: #7521E2;
}

.slider-cntrol:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: -14px;
    bottom: -3px;
    background-color: #959595;
    -webkit-transition: .4s;
    transition: .4s;
}

/* New Ayaan css */

/* New bannes Queues css */

.banned_icon {
    margin-bottom: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-community-queues-avex-left-Col {
    background: #ffffff;
    padding: 16px 40px;
    max-width: 972px;
    width: 100%;
    border-radius: 4px;
}


.admin-community-queues-avex-left-Col .create-banned-avex-sect {
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.admin-community-queues-avex-left-Col .create-banned-avex-sect h5 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    text-align: center;
    color: #8A9099;
}

/* Emoji Users Flair */


.community-body-left-Col_avex {
    background: #ffffff;
    padding: 16px 40px;
    max-width: 972px;
    width: 100%;
    border-radius: 4px;
}

.community-body-left-Col_avex .community-headings_avex {
    border-bottom: 1px solid #D4D8DD;
    padding-bottom: 16px;
}

.community-body-left-Col_avex .community-headings_avex h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 158%;
    color: #000000;
    margin-bottom: 0;
}

.community-body-left-Col_avex .community-headings_avex p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #3F434A;
}

.CommunityAppearance-left-Col_avex .community-name-sect_avex {
    height: 870px;
}

.community-body-left-Col_avex .community-name-sect_avex {
    margin-top: 28px;
}

.community-body-left-Col_avex .community-name-sect_avex h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 158%;
    margin-bottom: 16px;
    color: #000000;
}

.magicSearchFull_avex {
    position: relative;
}

.magicSearchFull__search_avex {
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 18px 55px;
    font-size: 16px;
    line-height: 1.58;
    position: relative;
    color: #3f434a;
    border: 1px solid #d4d8dd;
    outline: none;
}

img.magicSearchFull__icon_avex {
    position: absolute;
    right: 0px;
    left: 20px;
    top: 20px;
    font-size: 18px;
}

.art_wrk {
    margin-left: 12px;
}

.alert_disabled {

    max-width: 892px;
    height: 69px;
    background: #FFFFFF;
    border: 1px solid #FFD240;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 24px;
    border-left: 14px solid #ffd240;
    border-radius: 4px 0px 0px 4px;
    padding: 16px;
    display: flex;

    align-items: center;


}

.subject {


    margin-left: 13px;
}

.subject h3 {

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 158%;
    color: #3F434A;
    margin-bottom: 0px;
}

.subject p {

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #3F434A;
}

img.alrt_ylw.img-fluid {
    width: 33px;
    height: 30px;
}

.tble_icn.img-fluid {
    margin-left: 5px;
}

.AllUsers_body_avex_nft {
    max-height: 700px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.AllUsers_body_avex_nft h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 100%;
    /* or 24px */

    display: flex;
    align-items: center;
    text-align: center;

    /* Grey1 */

    color: #8A9099;

}


.AllUsers_body_avex_nft p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #8A9099;
    margin-top: 5px;

}

.AllUsers_Sect_contnet_nft {
    max-height: 712px;
    height: 712px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 0px 40px;
}

.AllUsers_Sect_contnet_avex_post {
    max-height: 508px;
    height: 508px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 0px 40px;
    margin-top: 32px;
}

.AllUsers_body_avex_post {
    max-height: 508px;
    height: 509px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.AllUsers_body_nft_post {
    max-height: 712px;
    height: 88%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.AllUsers_body_avex_post h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #8A9099;
}


.AllUsers_body_nft_post h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #8A9099;

}

.nft_shed {
    margin-top: 25px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #7521E2;
}

.AllUsers_body_img_time_refresh {
    margin-top: 24px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 520px) {
    .subject p {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 100%;
        display: flex;
        align-items: center;
        color: #3F434A;
    }

    .subject h3 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 158%;
        color: #3F434A;
        margin-bottom: 0px;
    }
}

/* Save Draft Button Css */

.sve_drft {

    margin-right: 16px;
    border: 1px solid #3F434A;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    /* Dark2 */

    color: #3F434A;
    width: auto;
    height: 23px;
    padding: 4px 20px 26px 20px;
    background-color: white;
}

.sve_draft_btn {


    display: flex;
    align-items: center;
    height: 31px;
    width: auto;
}

button.sve_drft2 {
    background: #7521E2;
    border-radius: 50px 0px 0px 50px;
    border: none;
    color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    padding: 4px 12px 4px 16px;
    width: auto;
    height: 32px;

}

.clndr_img {

    background-color: #7521E2;
    padding: 4px 10px 4px 6px;
    border-radius: 0px 50px 50px 0px;
    cursor: pointer;
}

/* modal css  */

div#Calender_avex {
    opacity: 1;
    background: rgb(63 67 74 / 79%);
}

.modal-header_clndr {

    display: inline-block;
    padding: 16px 33px 0px;

}

.modal-header_clndr h3 {

    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 170.23%;
    display: flex;
    align-items: center;
    color: #3F434A;
    margin-top: 0;


}

.modal-dialog.nfft_calender.modal-dialog-centered {
    max-width: 668px;
    width: 100%;
    margin-top: 5%;
}

.sbmt {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 158%;
    color: #3F434A;
}

.datepicker_avex {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    width: 141px;
    height: 48px;
    border: 1px solid #D4D8DD;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 0px !important;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #3F434A;

}
.datepicker_avex::placeholder{
	color: #3F434A;
}
.dte_clndr {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.timepicker_avex {

    width: 104px;
    height: 48px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    font-family: Poppins;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #3F434A;
    outline: none;
    margin-left: 12px;
}
.timepicker_avex::placeholder{
	color: #3F434A;
}
.timepicker_avex2 {
    width: 260px;
    height: 48px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    font-family: Poppins;
    /* text-align: center; */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* display: flex; */
    /* align-items: center; */
    color: #3F434A;
    outline: none;
    padding: 10px;
    margin-left: 12px;
}


.timepicker_avex2:after {
    content: url(/images/up_dwn_errow.svg);
    font-family: fontawesome;
    position: absolute;
    top: 0;
    right: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    color: #8a9099;
    display: flex;
    align-items: center;
    height: 100%;
}

.tme_zne {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 158%;
    color: #3F434A;
    margin-bottom: 0px;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 22px;
}

.tme_zne_title {
    display: flex;
    justify-content: center;
    align-items: center;
}


.tme_zne_title h5 {
    margin-bottom: 0px;
    margin-left: 12px;
}

select.custom-select_avex {

    /* width: 294px; */
    height: 48px;
    outline: none;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 12px;
}

.rpt_options h3 {

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 158%;
    color: #3F434A;
    margin-top: 32px;
    margin-bottom: 0px;

}

.community-post-calender {
    background: #ffffff;
    border: 1px solid #d4d8dd;
    box-sizing: border-box;
    position: relative;
    height: 64px;
    width: 314px;
    display: flex;
    align-items: center;
    padding: 13px 18px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 158%;
    cursor: pointer;
    color: #3F434A;
    margin-top: 12px;
}
.community-post-calender33 {
    background: #ffffff;
    border: 1px solid #d4d8dd;
    box-sizing: border-box;
    position: relative;
    height: 48px;
    width: 263px;
    display: flex;
    align-items: center;
    padding: 13px 18px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 158%;
    cursor: pointer;
    margin-left: 12px;
    color: #3F434A;
}
.community-post-calender:after {
    content: "\f107";
    font-family: fontawesome;
    position: absolute;
    top: 0;
    right: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 19px;
    color: #8a9099;
    display: flex;
    align-items: center;
    height: 100%;
}

.community-post-calender33:after {
    content: url(/images/up_dwn_errow.svg);
    font-family: fontawesome;
    position: absolute;
    top: 2px;
    right: 11px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    color: #8a9099;
    display: flex;
    align-items: center;
    height: 100%;
}

.adv_options h3 {

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 158%;
    color: #3F434A;
    margin-top: 32px;
    margin-bottom: 0px;

}


.community-post-adv-options {
    background: #ffffff;
    border: 1px solid #d4d8dd;
    box-sizing: border-box;
    position: relative;
    height: 64px;
    width: 242px;
    display: flex;
    align-items: center;
    padding: 13px 18px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 158%;
    cursor: pointer;
    color: #8a9099;
    margin-top: 12px;
}

.community-post-adv-options:after {
    content: "\f107";
    font-family: fontawesome;
    position: absolute;
    top: 0;
    right: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    color: #8a9099;
    display: flex;
    align-items: center;
    height: 100%;
}

.adv_nft {
    display: flex;
}


.community-stiky-post {
    background: #ffffff;
    border: 1px solid #d4d8dd;
    box-sizing: border-box;
    position: relative;
    height: 64px;
    width: 192px;
    display: flex;
    align-items: center;
    padding: 13px 18px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 158%;
    cursor: pointer;
    color: #8a9099;
    margin-top: 12px;
    margin-left: 16px;
}

.community-stiky-post:after {
    content: "\f107";
    font-family: fontawesome;
    position: absolute;
    top: 0;
    right: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    color: #8a9099;
    display: flex;
    align-items: center;
    height: 100%;
}

.cstm_slide-togle h3 {

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 138%;
    color: #3F434A;
    margin-bottom: 19px;
    margin-top: 24px;

}

.cstm_slide-togle h4 {

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 138%;
    color: #3F434A;


}

/* toggle */

.enoch_evnets {
    display: flex;
    align-items: center;
    margin-top: 24px;
}


.postswitch-event {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 16px;
    margin-left: 26px;
    margin-bottom: 0px;
    margin-top: 8px;
}

.postswitch-event input {
    opacity: 0;
    width: 0;
    height: 0;
}

.post-slider-events {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D8D8D8;
    -webkit-transition: .4s;
    transition: .4s;
}

.post-slider-events:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: -14px;
    bottom: -3px;
    background-color: #959595;
    -webkit-transition: .4s;
    transition: .4s;
}

.post-switch-event input:checked+.post-slider-events {
    background: #E4CFFF;
}



.post-switch-event input:checked+.post-slider-events:before {
    -webkit-transform: translateX(33px);
    -ms-transform: translateX(33px);
    transform: translateX(33px);
    background: #8743DF;
}


.post-slider-events.round {
    border-radius: 23px;
}

.post-slider-events.round:before {
    border-radius: 50%;
}

.post-slider-events.round:active {
    background-color: #7521E2;
}

.post-slider-events:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: -14px;
    bottom: -3px;
    background-color: #959595;
    -webkit-transition: .4s;
    transition: .4s;
}

.usr-events {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 138%;
    color: #3F434A;
}

.modal-body_nfft_calender_avex {


    padding: 32px !important;

}

.notce-event {

    margin-top: 26px;

}

.notce-event p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #8A9099;

}

.modal-footer_avex_events {

    max-width: 684px;
    width: 100%;
    height: 64px;
    background: #E9EDF0;
    border-radius: 0px 0px 4px 4px;

}

.events_btns {

    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 16px;
    margin-right: 32px;
    margin-bottom: 16px;

}

.cncl_event {
    /* border: none; */
    border: 1px solid #3F434A;
    box-sizing: border-box;
    border-radius: 60px;
    width: 132px;
    height: 32px;
    margin-right: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    /* Dark1 */

    color: #1E1F2D;
}

.aply_evnt {
    width: 102px;
    height: 32px;
    background: #7521E2;
    border-radius: 60px;
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.drpdwn-lst_avex {

    display: none;

}

.evnt_avex.open .drpdwn-lst_avex {

    display: block;

}


.drpdwn-lst_avex2 {

    display: none;

}

.evnt_avex2.open .drpdwn-lst_avex2 {

    display: block;

}

.drpdwn-lst_avex {
    width: 314px;
    border: 1px solid #d4d8dd;
    padding: 12px 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 158%;
    cursor: pointer;
    color: #8a9099;
    position: absolute;
    z-index: 9999;
    background: white;
}

.evnt_avex2 {

    display: flex;
}

/* BUTTON DISABLED */
.sve_drft2:disabled {

    background: #C6C9CC;
}

.pst_evnt_zne {
    display: flex;
    justify-content: center;
    align-items: center;
}

.drpdwn-lst_avex ul li {

    padding-top: 10px;
    padding-bottom: 10px;

}

.community-Events_avex1 {
    background: #ffffff;
    border: 1px solid #d4d8dd;
    box-sizing: border-box;
    position: relative;
    height: 64px;
    width: 242px;
    display: flex;
    align-items: center;
    padding: 13px 18px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #3F434A;
    margin-top: 12px;

}

.community-Events_avex12 {
    background: #ffffff;
    border: 1px solid #d4d8dd;
    box-sizing: border-box;
    position: relative;
    height: 64px;
    width: 242px;
    display: flex;
    align-items: center;
    padding: 13px 18px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #3F434A;
    margin-top: 12px;
    margin-left: 12px;

}


.dropdown-menu_events_avex {
    width: 242px;
    border: 1px solid #d4d8dd;
    padding: 12px 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 158%;
    cursor: pointer;
    color: #8a9099;
    position: absolute;
    z-index: 9999;
    background: white;
}


.dropdown-menu_events_avex2 {
    width: 242px;
    border: 1px solid #d4d8dd;
    padding: 12px 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 158%;
    cursor: pointer;
    color: #8a9099;
    position: absolute;
    z-index: 9999;
    background: white;
    left: 12px;
}

.dropdown-menu_events_avex ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-menu_events_avex2 ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}
.community-avex_events {
    display: flex;
}
.community-Events_avex1:after {
    content: "\f107";
    font-family: fontawesome;
    position: absolute;
    top: 0;
    right: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 19px;
    color: #8a9099;
    display: flex;
    align-items: center;
    height: 100%;
}
.community-Events_avex12:after {
    content: "\f107";
    font-family: fontawesome;
    position: absolute;
    top: 0;
    right: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 19px;
    color: #8a9099;
    display: flex;
    align-items: center;
    height: 100%;
}
.dropdown-menu_events_avex {
    display: none;
}

.dropdown-menu_events_avex2 {
    display: none;
}

.dropdown_events.open .dropdown-menu_events_avex {
    display: block;
}

.dropdown_events2.open .dropdown-menu_events_avex2 {
    display: block;
}

@media screen and (max-width: 768px) {
    .dte_avext_nft {
        width: 46%;
    }

    .datepicker_avex {

        width: 100%;

    }

    .tme_zne_title {

        width: 46%;
    }

    .timepicker_avex {

        width: 100%;
    }
    .timepicker_avex2 {

        width: 100%;
    }
    .pst_evnt_zne {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        flex-direction: column;
    }

    .tme_zne {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 158%;
        color: #3F434A;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .community-post-calender {

        width: 100%;
    }
    .community-post-calender33 {

        width: 100%;
    }
    .drpdwn-lst_avex {
        width: 100%;

    }

    .dte_clndr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    select.custom-select_avex {
        margin-top: 12px;
        width: 100%;
    }

    .tme_zne {

        text-align: left;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 770px) {
    .pst_evnt_zne {

        margin-top: 15px;
        width: 100%;
    }

    .dte_clndr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        justify-content: center;
    }

    .datepicker_avex {
        width: 100%;
        margin-bottom: 15px;
    }

    .timepicker_avex {
        width: 100%;
        margin-left: 0px;

    }

    .timepicker_avex2 {
        width: 100%;

    }
    .custom-select_avex {
        width: 100%;
    }

    .sve_drft {

        font-size: 13px;

    }

    .community-post-calender {

        width: 100%;
    }
    .community-post-calender33 {
        margin-left: 0px;
        width: 100%;
        margin-top: 12px;
    }
    .community-post-adv-options {
        width: 100%;
    }

    .community-stiky-post {

        width: 100%;
        margin-left: 0px;

    }

    .drpdwn-lst_avex {

        width: 100%;
    }

    .adv_nft {
        display: block;
    }

    .evnt_avex2 {

        flex-direction: column;
    }

    .dte_avext_nft {
        width: 100%;
    }

    .tme_zne_title {
        width: 100%;
    }

    .community-avex_events {
        display: flex;
        flex-direction: column;
    }

    .community-Events_avex1 {
        
        width: 100%;
        
        margin-top: 12px;
        margin-right: 0px;
    }

    .community-Events_avex12 {
        
        width: 100%;
       margin-left: 0px;
    }
    .dropdown-menu_events_avex {
        width: 100%;
        
    }

    .dropdown-menu_events_avex2 {
        width: 100%;
        left: 0;
       
    }
}